
md-sidenav {
	md-list {
		width: 100%;
		md-list-item {
			.md-button {
				width: 100%;
				margin-left: 0 !important;
				margin-right: 0 !important;

				md-icon {
					padding-top: 5px;
					padding-bottom: 5px;
				}

			}

			&:hover {
				cursor: pointer;
				background: lightgrey;
				transition: .3s;
			}
		}
	}
}


md-sidenav.drawer {
	z-index: 62;
	//header section that contains logo in sidenav
	md-toolbar {
		background: none !important; //'white' or 'none'... does it matter? @onechrisjones
	}
	.side-menu {
		list-style: none;
		padding: 0;
		margin-top: 0;

		ul {
			list-style: none;
			padding: 0;
			margin-top: 0;
			border-top: 1px solid rgba(0, 0, 0, 0.12); //added these borders around the menu sub-items. @onechrisjones
			border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		}

		.menu-heading {
			padding-left: 15px; //brings in menu headings from left edge @onechrisjones
		}

		//general sidenav button styles
		.md-button {
			border-radius: 0;
			color: inherit;
			cursor: pointer;
			font-weight: 400;
			//line-height: 40px;
			margin: 0;
			max-height: 40px;
			overflow: hidden;
			text-align: left;
			text-decoration: none;
			white-space: normal;
			width: 100%;
			display: block;

			text-transform: none;

			&.active {
				color: #FF5722; /* deep-orange 500 */
			}
		}

		//this max=-height property is what's being modified on toggel somewhat.  What happend is the max-height must be set higher or equal to the height the list items create otherwise they get cut off.  The animation shows a delay, but it isn't actually delyed, you just can see it since it's happening 1300px down. So I have made the max-height equal ot the height of the items and I expect to modify this in the futre.  It would be ideal to find a way to dynamically set the max-height based on the amount of items in the list.

		//general toggle list styles
		.menu-toggle-list {
			background: #fff;
			//max-height: 120px;
			max-height: 1300px;
			overflow: hidden;
			position: relative;
			z-index: 1;
			-webkit-transition: 0.3s cubic-bezier(0.35, 0, 0.25, 1);
			-webkit-transition-property: max-height;
			-moz-transition: 0.3s cubic-bezier(0.35, 0, 0.25, 1);
			-moz-transition-property: max-height;
			transition: 0.3s cubic-bezier(0.35, 0, 0.25, 1);
			transition-property: max-height;

			&.ng-hide {
				max-height: 0;
			}

			.md-button {
				display: block;
				//padding: 0 16px 0 32px;
				text-transform: none;
			}

			a {
				&.md-button {
					display: block;
					padding: 0 16px 0 32px;
					text-transform: none;
					text-rendering: optimizeLegibility;
					font-weight: 500;
				}
			}
		}

		//styles for menu toggle items
		.md-button-toggle {
			&.toggled {
				background-color: rgba(0, 0, 0, 0.02);
			}

			.md-toggle-icon {
				display: block;
				margin-left: 8px;
				speak: none;
				margin-right: 12px;
				vertical-align: middle;
				transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
				transition: transform 0.3s ease-in-out;
				-webkit-transition: -webkit-transform 0.3s ease-in-out;

				&.toggled {
					transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}
			}
		}


		//styles for menu links nested in menu toggles
		.md-button-link {
			padding-left: 55px !important;
		}

		//bottom of side nav section
	}
	.bottom-list {
		width: 100% !important;

		li {
			height: 60px;
			button {
				height: 60px !important;
				max-height: 60px !important;
				font-size: 1.2em;
			}
		}


		ul {
			> li {
				border-top: none;
			}
		}
	}
}


.nav-header {
	padding-top: 40px;
	padding-left: 20px;
	padding-bottom: 40px;
	img {
		display: block;

	}
}

.corpus-dialog {
	input {
		color: black !important;
	}
}