<md-sidenav class="drawer site-sidenav md-sidenav-left collapsable-nav"
            md-component-id="drawer"
            md-whiteframe="24"
            tabindex="-1"
            layout="column"
            layout-align="space-between center">
	<md-list>
		<md-toolbar class="nav-header logo-container md-padding">
			<img src="../../../img/glossa-logo.svg" alt="">
		</md-toolbar>
		<h2 class="md-padding">{{$ctrl.project.name}}</h2>
		<md-content flex="" role="navigation" class="_md flex">
			<ul class="side-menu">
				<li ng-repeat="section in $ctrl.menu"
				    class="parent-list-item"
				    ng-if="!section.disabled"
				    ng-class="{'parentActive' : $ctrl.isSectionSelected(section)}">
					<span>{{section.disabled}}</span>
					<!--if type is heading show this element-->
					<h2 class="menu-heading md-subhead ng-binding ng-scope"
					    ng-if="section.type === 'heading'"
					    id="heading_{{ section.name | nospace }}">{{section.name}}</h2>
						<span>{{section.disabled}}</span>

					<!--if type is toggle show this element (which is actually inject as stated above)-->
					<drawer-toggle section="section"
					               ng-if="!section.disabled && section.type === 'toggle'"
					               on-toggle-open="$ctrl.toggleOpen($event)"
					               on-is-open-parent="$ctrl.isOpenParent($event)"></drawer-toggle>

					<!--if type is link show this element   (which is actually inject as stated above)-->
					<drawer-link section="section"
					             on-focus-section="$ctrl.focusSection($event)"
					             ng-if="!section.disabled && section.type === 'link'"></drawer-link>
					             <!--ng-if="!section.disabled && section.type === 'link'"></drawer-link>-->

				</li>
			</ul>
		</md-content>
	</md-list>

	<md-list class="bottom-list">
		<md-content flex role="navigation" >
			<ul class="side-menu">
				<li class="parent-list-item">
					<md-button class="md-button-toggle" ui-sref="project" ng-click="$ctrl.closeSideNav()">
						<div flex layout="row" layout-align="center center" style="padding-left:16px;">
							Settings
							<span flex></span>

							<span aria-hidden="true"
							      class="md-toggle-icon">
								<md-icon md-font-library="material-icons">settings</md-icon>
							</span>
						</div>
					</md-button>
					<!--<md-button class="md-button-toggle" ng-click="$ctrl.showSettings()">-->
					<!--<div flex layout="row" layout-align="center center">-->
					<!--Settings-->
					<!--<span flex></span>-->

					<!--<span aria-hidden="true"-->
					<!--class="md-toggle-icon">-->
					<!--<md-icon md-font-library="material-icons">settings</md-icon>-->
					<!--</span>-->
					<!--</div>-->
					<!--</md-button>-->
				</li>
			</ul>
		</md-content>
	</md-list>

</md-sidenav>