<md-dialog class="manage-dialog " flex="90" aria-label="New Notebook">

	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Manage Hashtags</h2>
		</div>
	</md-toolbar>

	<md-dialog-content>

		<manage-tags-component></manage-tags-component>

	</md-dialog-content>

		<md-divider></md-divider>


	<md-dialog-actions layout="row" class="md-padding">
		<md-button ng-click="tagVm.cancel('cancel')">Close</md-button>
		<!--<md-button ng-click="newPostVm.save('Update Attached File')">Add Post</md-button>-->
	</md-dialog-actions>

</md-dialog>
