#manageTags-container {


}

.manage-dialog {

	.md-block {
		overflow: hidden;
		//padding: 0;
	}

	.search-text-container {
		//height: 60px;
	}

	input, textarea {
		color: black !important;
	}

}

#vertical-container {
	height: 292px;
	width: 100%;
	//max-width: 400px;


	.repeated-item {
		color: black;

		&.editable {
			background: $lBlue;
		}
		&.non-editable {
			color: $lGrey;
		}

	}
}

.table-container {
	max-height: 400px;
}
.disabled-cell {
	color: grey !important;
	cursor: default !important;
}



md-edit-dialog {

	input {
		color: black !important;
	}
}

md-backdrop.md-edit-dialog-backdrop {
	z-index: 81 !important; /* or greater */
}

//.animate-show {
//	//background: white;
//	//overflow: hidden;
//	//transition: all 0.5s;
//}
//
.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
	transition: all 0.5s;
}
//
//.animate-show:not(.ng-hide) {
//	//height: 60px;
//}

//.manage-dialog {
//	transition: all 0.5s;
//}
