<md-card class="notebook-card" flex layout-fill layout="column">
	<md-card-header ng-if="!isCorpus" class="card-title" flex="12">
		<md-card-avatar ng-if="notebook.createdBy.avatar" alt="">
			<img class="md-user-avatar"  ng-src="{{notebook.createdBy.avatar}}"/>
		</md-card-avatar>
		<md-card-header-text class="title-text ">
			<span class="md-title">{{notebook.createdBy.name}}</span>
			<!--<span class="md-headline">{{notebooks.name}}</span>-->
		</md-card-header-text>
		<md-divider></md-divider>
	</md-card-header>

	<md-card-content class="card-content" flex>
		<div ng-if="notebook.image" class="md-media-lg card-image">
			<img ng-src="{{notebook.image.path}}" class="md-card-image" alt="">
		</div>
		<div class="wave-container" ng-if="notebook.postType === 'audio'">
			<wave-preview
					flex
					url="{{notebook.audio.path}}"
					auto-play="false"
					player-wave-color="white"
					player-cursor-color="#FF5252"
					player-height="150"
					player-progress-color="black">
			</wave-preview>
		</div>

		<div class="card-text inner-padding">
			<div ng-if="previewText" ng-bind-html="previewText"></div>
		</div>
	</md-card-content>

	<md-divider></md-divider>
	<md-card-actions flex=10 layout="row" layout-align="end bottom">
		<md-button ng-if="isCorpus" ng-click="disconnect({notebook: notebook})">Disconnect</md-button>

		<md-button ng-click="openDetails({event: $event}, notebook)">View Details</md-button>

		<!--<md-button ng-click="notebookDialog($event, notebooks.postType, notebooks)">Edit Post</md-button>-->
	</md-card-actions>

	<!--<pre>{{notebook | json}}</pre>-->
</md-card>