<md-dialog class="post-dialog" flex="50">
	<form name="postForm" ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create New Image Post</h2>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<md-input-container layout="row" layout-align="start center">
					<upload-selection flex="50"
				                  parentbinding="postVm.notebook.media.image"
					              buttonicon="camera_alt"
					              button-id="uploadImage"
					              type="image"
					              filetypes=".jpg, .png, .svg"></upload-selection>
				</md-input-container>

				<h3 class="md-padding">Image Caption</h3>
				<md-input-container class="simplemde-wrapper">
					<textarea id="imageCaption"
					          aria-label="text area"
					          ng-model="postVm.notebook.media.image.caption"
					          simplemde="postVm.editorOptions"></textarea>
				</md-input-container>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row" class="top-border">
			<md-button ng-click="postVm.cancel($event, postVm.notebook)">Cancel</md-button>
			<md-button ng-disabled="!postVm.notebook.media.image" ng-click="postVm.postDetails.button.action('Create Image Post')">{{postVm.postDetails.button.text}}</md-button>
		</md-dialog-actions>
	</form>

</md-dialog>
