<md-dialog class="post-dialog" flex="50">
	<form name="addPost" ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create New Post</h2>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" >
				<md-input-container class="simplemde-wrapper" convert-icons>
					<textarea class="simplemde-textarea"  aria-label="text area"
					          simplemde="newPostVm.editorOptions"
					          id="theText"
					          ng-model="newPostVm.currentNotebook.description"
					          required
					          ></textarea>
				</md-input-container>


				<div layout="row" layout-align="space-between center ">
					<basic-upload parentbinding="newPostVm.currentNotebook.media.image"
					              buttonicon="camera_alt" button-id="uploadImage"
					              type="image"
					              filetypes=".jpg, .png, .svg"></basic-upload>
					<span>{{newPostVm.currentNotebook.media.image.name}}</span>
					<span>{{newPostVm.currentNotebook.media.audio.name}}</span>
					<basic-upload parentbinding="newPostVm.currentNotebook.media.audio"
					              buttonicon="volume_up" button-id="uploadAudio"
					              type="audio"
					              filetypes=".mp3, .m4a"></basic-upload>
				</div>
			</div>
		</md-dialog-content>

		<!--<md-button ng-click="nbVm.createNotebook(addNotebook)">Submit</md-button>-->
		<md-dialog-actions layout="row" >
			<md-button ng-click="newPostVm.cancel('cancel')">Cancel</md-button>
			<md-button ng-disabled="!addPost.$valid" ng-click="newPostVm.save('Create Normal Post')">Add Post</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
