<md-dialog class="post-dialog" flex="50">
	<form name="addPost" ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Create New Post</h2>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" >
				<md-input-container class="simplemde-wrapper" convert-icons>
					          <!--myIndex-->
					          <!--mentio-->
					<textarea class="simplemde-textarea"  aria-label="text area"
					          simplemde="newPostVm.editorOptions"
					          id="theText"
					          ng-model="newPostVm.currentNotebook.description"
					          required
					          ></textarea>
					          <!--menu-scope="menuScope"-->

								<!--autocomplete="off"-->
					<!--{{queryTags}}-->
					          <!--mentio-id="'theText'"-->
					          <!--mentio-typed-term="typedTerm"-->
					          <!--mentio-require-leading-space="true"-->
					          <!--mentio-select-not-found="true"-->
					<!--<mentio-menu-->
							<!--mentio-for="'theText'"-->
							<!--mentio-trigger-char="'#'"-->
							<!--mentio-items="newPostVm.hashtags"-->
							<!--mentio-template-url="./components/mentionTemplates/mention.hashtags.html"-->
							<!--mentio-search="newPostVm.searchHashtags(term)"-->
							<!--mentio-select="newPostVm.selectHashtag(item)"-->
					<!--&gt;</mentio-menu>-->
				</md-input-container>
				<!--<hashtagmenu ng-if="queryTags" items="newPostVm.hashtags" hashtag-search="newPostVm.searchHashtags" parent-scope="parentScope"></hashtagmenu>-->

				{{queryTags}}

				<div layout="row" layout-align="space-between center ">
					<basic-upload parentbinding="newPostVm.currentNotebook.media.image"
					              buttonicon="camera_alt" button-id="uploadImage"
					              filetypes=".jpg, .png, .svg"></basic-upload>
					<span>{{newPostVm.currentNotebook.media.image.name}}</span>
					<span>{{newPostVm.currentNotebook.media.audio.name}}</span>
					<basic-upload parentbinding="newPostVm.currentNotebook.media.audio"
					              buttonicon="volume_up" button-id="uploadAudio"
					              filetypes=".mp3, .m4a"></basic-upload>
				</div>
			</div>
		</md-dialog-content>

		<!--<md-button ng-click="nbVm.createNotebook(addNotebook)">Submit</md-button>-->
		<md-dialog-actions layout="row" >
			<md-button ng-click="newPostVm.cancel('cancel')">Cancel</md-button>
			<md-button ng-disabled="!addPost.$valid" ng-click="newPostVm.save('Create Normal Post')">Add Post</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
