<md-dialog id="new-post-dialog" flex="50" class="md-padding">
	<form name="addPost">
		<md-dialog-content>
			<div class="md-dialog-content">
				
				<md-input-container>
					<textarea aria-label="text area" ng-model="newPostVm.currentPost" simplemde></textarea>
				</md-input-container>


				{{newPostVm.currentPost}}
				{{newPostVm.currentNotebook.title}}
				
				<!--<md-input-container class="md-block" flex-gt-sm="">-->
					<!--<label>Post Name</label>-->
					<!--<input ng-model="newPostVm.currentNotebook.name"-->
					       <!--value="newPostVm.currentNotebook.name" required>-->
				<!--</md-input-container>-->

				<!--<md-input-container class="md-block">-->
					<!--<label>Description</label>-->
					<!--<textarea ng-model="newPostVm.currentNotebook.description" rows="5"></textarea>-->
				<!--</md-input-container>-->

				<div layout="row" layout-align="start center">
					<basic-upload parentbinding="newPostVm.currentNotebook.media.image"
					              buttonicon="camera_alt" button-id="uploadImage"
					              filetypes=".jpg, .png, .svg"></basic-upload>
					<basic-upload parentbinding="newPostVm.currentNotebook.media.audio"
					              buttonicon="volume_up" button-id="uploadAudio"
					              filetypes=".mp3, .m4a"></basic-upload>
				</div>

			</div>

		</md-dialog-content>

		<!--<md-button ng-click="nbVm.createNotebook(addNotebook)">Submit</md-button>-->
		<md-dialog-actions layout="row" >
			<md-button ng-click="newPostVm.cancel('cancel')">Cancel</md-button>
			<md-button ng-click="newPostVm.save('Update Attached File')">Add Notebook</md-button>
		</md-dialog-actions>
	</form>

</md-dialog>
