<md-dialog class="post-dialog" flex="50">
	<form name="postForm" ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{postVm.postDetails.title}}</h2>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" >
				<md-input-container class="simplemde-wrapper" convert-icons>
					<textarea class="simplemde-textarea"  aria-label="text area"
					          simplemde="postVm.editorOptions"
					          id="theText"
					          ng-model="postVm.notebook.description"
					          required
					          ></textarea>
				</md-input-container>

				<div layout="row">

					<div flex class="upload-selection">
						<div layout="row" layout-align="center center">
							<md-button ngf-select
							           name="imageUpload"
							           class="md-icon-button"
							           ng-model="postVm.notebook.media.image"
							           accept="image/*">
								<!--ngf-max-size="5MB"-->
								<!--ngf-validate="{width: {min: 1400, max:2000}, height: {min: 630, max: 900}}"-->
								<md-icon>camera_alt</md-icon>
							</md-button>
						</div>
						<div flex class="md-padding media-container" ng-if="postVm.notebook.media.image" >
							<md-button class="md-icon-button remove-preview" ng-click="postVm.removeMedia(postVm.notebook.media.image); postVm.notebook.media.image = null" >
								<md-icon>cancel</md-icon>
							</md-button>
							<img ng-show="postVm.notebook.media.image" ngf-src="postVm.imagePath" class="thumb">
						</div>
					</div>

					<div flex class="upload-selection">
						<div layout="row" layout-align="center center">
							<md-button ngf-select
							           name="audioUpload"
							           class="md-icon-button"
							           ng-model="postVm.notebook.media.audio"
							           accept="audio/*">
								<md-icon>volume_up</md-icon>
							</md-button>
						</div>
						<div flex class="md-padding media-container" ng-if="postVm.notebook.media.audio">
							<md-button class="md-icon-button remove-preview" ng-click="postVm.removeMedia(postVm.notebook.media.audio); postVm.notebook.media.audio = null" >
								<md-icon>cancel</md-icon>
							</md-button>
							<wave-preview
									ng-if="postVm.notebook.media.audio"
									flex
									url="{{postVm.audioPath}}"
									auto-play="false"
									player-wave-color="white"
									player-cursor-color="#FF5252"
									player-height="100"
									player-progress-color="black">
							</wave-preview>
						</div>
					</div>

					<!--<div ng-messages="postForm.picture.$error">-->
						<!--<div ng-message="minWidth">-->
							<!--Min Width has to be 1400.-->
						<!--</div>-->
						<!--<div ng-message="minHeight">-->
							<!--Min height has to be 630.-->
						<!--</div>-->
						<!--<div ng-message="maxWidth">-->
							<!--Max Width has to be 2000.-->
							<!--<div ng-message="maxSize">-->
								<!--File is bigger than 2MB.-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				</div>
			</div>
		</md-dialog-content>


		<md-dialog-actions layout="row" class="top-border" >
			<md-button ng-click="postVm.cancel($event, postVm.notebook)">Cancel</md-button>
			<md-button ng-disabled="postForm.$invalid" ng-click="postVm.postDetails.button.action('Create Normal Post')">{{postVm.postDetails.button.text}}</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>
