<md-dialog class="post-dialog" flex="50">
	<form name="postForm" ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{postVm.postDetails.title}}</h2>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" >
				<md-input-container class="simplemde-wrapper" convert-icons>
					<textarea class="simplemde-textarea"  aria-label="text area"
					          simplemde="postVm.editorOptions"
					          id="theText"
					          ng-model="postVm.notebook.description"
					          required
					          ></textarea>
				</md-input-container>
				<div layout="row">
					<upload-selection flex="50" parentbinding="postVm.notebook.media.image"
					              buttonicon="camera_alt" button-id="uploadImage"
					              type="image"
					              filetypes=".jpg, .png, .svg"></upload-selection>
					<upload-selection flex="50" parentbinding="postVm.notebook.media.audio"
					              buttonicon="volume_up" button-id="uploadAudio"
					              type="audio"
					              filetypes=".mp3, .m4a"></upload-selection>
				</div>
			</div>
			<md-divider></md-divider>
		</md-dialog-content>


		<md-dialog-actions layout="row" >
			<md-button ng-click="postVm.cancel($event, postVm.notebook)">Cancel</md-button>
			<md-button ng-disabled="!postForm.$valid" ng-click="postVm.postDetails.button.action('Create Normal Post')">{{postVm.postDetails.button.text}}</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>
