@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  //src: url("../fonts/MaterialIcons-Regular.eot");
  src: local("Material Icons"),
       local("MaterialIcons-Regular"),
       url("../fonts/MaterialIcons-Regular.woff2") format("woff2"),
       url("../fonts/MaterialIcons-Regular.woff") format("woff"),
       url("../fonts/MaterialIcons-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "DejaVu Mono";
  src: url(../fonts/DejaVuSansMono.ttf);
}

@font-face {
  font-family: "Cutive Mono";
  src: url(../fonts/CutiveMono-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto-light";
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 300;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}
