//* {
//  box-sizing: border-box;
//  margin: 0;
//  padding: 0;
//}
//
//body {
//  font: 300 14px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
//  color: #5c5c5c;
//  background: #FFFFFF;
//}
//
//a {
//  color: #5c5c5c;
//  text-decoration: none;
//}
//
//ul {
//  list-style: none;
//}
//
//img {
//  max-width: 100%;
//}

.md-large-btn {
	width: 15em;
}

body {
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}