<input id="fileInput" type="file" class="ng-hide" multiple accept=".md,.txt" >

<!-- THIS SHOULD BE TEMPORARY FOR TESTING THE UPLOAD FUNCTIONALITY... THE FAB BUTTON SHOULD BE ON THE FILE-BROWSER, AND NOT ON THE BASELINE. WHEN ON THE FILE BROWSER, THE '+' WOULD VISUALLY INDICATE THAT CLICKING WOULD ADD A TEXT TO THE CORPUS. 'ATTACHING' AN AUDIO FILE FOR TRANSCRIPTION *COULD* BE DONE WITH A FAB IN THIS LOCATION, BUT SHOULD PROBABLY BE DONE IN THE 'META' TAB INSTEAD. -->

<!-- @onechrisjones removed this Fab... it should be a button in the 'Meta' Tab.

<md-button id="uploadButton"
           class="md-button md-fab md-fab-bottom-right"
           aria-label="attach_file">

	<md-icon class="material-icons">{{buttonicon}}</md-icon>
</md-button> 

--> 


<!--<md-input-container md-no-float>-->
	<!--<input id="textInput" ng-model="fileName" type="text" placeholder="No file chosen" ng-readonly="true">-->
<!--</md-input-container>-->