<navbar-component
		layout="row"
		search-text="navVm.searchText">
</navbar-component>

<md-content id="notebook-container" layout="row" flex ng-cloak>

	<md-content flex="25" layout-padding class="left-side">
		<h3>users</h3>
		<md-divider></md-divider>
		<h3>Common Tags</h3>
		<md-button ng-click="nbVm.tagManageDialog()" class="md-raised tag-btn">Tag Management</md-button>
		<md-list>
			<md-list-item class="chip-item" ng-repeat="tag in nbVm.commonTags | orderBy: tag.occurrence">
				<md-chip class="chip-container">
					<span>
						<span class="chip-icon">#</span>
						<span class="chip-text">{{tag.tag}}</span>
					</span>
				</md-chip>
			</md-list-item>
		</md-list>
	</md-content>

	<md-content flex="75" class="notebook-list" layout-padding>


		<md-progress-circular class="notebook-loader fade-out" ng-hide="!nbVm.isLoading" md-diameter="50"></md-progress-circular>

		<md-button class="md-raised update-btn" ng-if="nbVm.externalNotebooks.length" ng-click="nbVm.showNewUpdates()">
			<span>{{nbVm.externalNotebooks.length}} updates are available.</span>
			<span>View changes</span>
			<md-icon class="">update</md-icon>
		</md-button>

		<md-grid-list
			md-cols="1" md-cols-lt-md="1" md-cols-md="2" md-cols-lg="2" md-cols-gt-lg="3"
			md-row-height="500"
			md-gutter="16px" md-gutter-gt-sm="24px">
			<md-grid-tile
				ng-show="nbVm.notebooks.length"
				class="grid-tile mdl-shadow--2dp fade-in"
				ng-repeat="notebook in nbVm.notebooks | orderBy: '-createdAt' "
				md-colspan="1">

				<notebook-card unique-users="nbVm.uniqueUsers" notebook="notebook" view-details="nbVm.viewDetails(event, notebook, $index)" flex layout-fill></notebook-card>

			</md-grid-tile>
		</md-grid-list>
	</md-content>
	<md-fab-speed-dial
		ng-hide="nbVm.hidden"
        md-direction="up"
        md-open="metaVm.isOpen"
        class="md-scale md-fab-bottom-right "
        ng-class="{ 'md-hover-full': nbVm.hover }"
        ng-mouseenter="nbVm.isOpen = true"
        ng-mouseleave="nbVm.isOpen = false">
		<md-fab-trigger>
			<md-button aria-label="menu" class="md-fab md-grey-fab">
				<md-icon aria-label="menu">add</md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>
			<md-button ng-repeat="item in nbVm.items" class="md-fab md-raised md-mini" ng-click="nbVm.newPost($event, item.type)">
				<md-icon>{{item.icon}}</md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>

</md-content>
<!--drawer-->
<drawer-directive></drawer-directive>
