<div class="root" layout="column" flex>
  <app-nav ng-if="!('settings' | includedByState)"
     search-text="$ctrl.searchText"
    on-create="$ctrl.createMarkdown($event)"
    on-search-submit="$ctrl.searchSubmit($event)"
    on-clear-search="$ctrl.clearSearch($event)"></app-nav><!--global -->
  <!--<app-nav ng-if="$state.includes('**.settings')"></app-nav>&lt;!&ndash;global &ndash;&gt;-->
  <app-drawer></app-drawer> <!-- global -->
  <!--<app-nav user="$ctrl.user" on-logout="$ctrl.logout();"></app-nav>-->
   <!-- corpus -->
  <div class="app" layout="column" flex>
    <div ui-view layout="column" flex
         all-connections="$ctrl.allConnections"
         online-connections="$ctrl.onlineConnections"
         current-user="$ctrl.currentUser"
         search-text="$ctrl.searchText"></div>
  </div>
</div>
