about-sidebar {
	h2 {
		font-family: Roboto-Light, "Helvetica Neue", sans-serif;
		margin: 0 auto;
		text-align: center;

		span {
			font-family: Roboto-Thin, Roboto, "Helvetica Neue", sans-serif;
		}
	}
}