//the custom tag that is created.
@import "colors";
meta-c {
	padding: 8px;
	flex-direction: row;
	display: flex;
	-webkit-box-flex: 1;
	min-height:100%;

	.meta {
		height:100%;

		input, textarea {
			color: $black !important;
		}

		.notebook-card {
			.card-content {
				height: 500px;
			}
		}

		.CodeMirror,
		.CodeMirror-scroll {
			border-top: none;
			border-left: none;
			border-right: none;
			background: transparent;
			min-height: 50px!important;
		}


		//meta
		.image-attachement {
			img {
				max-width: 150px;
			}
		}

		.md-dialog-container {
			button {
				width: 200px;
			}
		}

		.attachment-card {
			.md-button {
				color: $red !important;
			}

			.md-subhead {
				font-style: italic;
			}
		}

		.media-title {
			padding: 16px !important;

			.md-headline {
				font-weight: 300 !important;
				color: $black !important;
			}

		}
		.media-description {
			padding-top: 8px;
			p {
				color: $bFaint !important;
			}
		}


		.media-content {
			padding-right: 0;
			padding-left: 0;
			padding-top: 0;
			padding-bottom: 0;

			.media-image {
				position: relative;
				overflow: hidden;
				max-height: 250px;
				min-height: 250px;

				img {
					display: block;
					width: 100%;
					height: 100%;
				}

				.md-icon-button {
					position: absolute;
					top: 16px;
					right: 16px;

					.md-icon {
						color: white;

					}
				}
			}

			.media-description {
				padding-right: 16px;
				padding-left: 16px;
			}

		}
	}
}


