<!--<md-button aria-controls="docs-settings-{{section.name | nospace}}"-->
           <!--class="md-icon-button"-->
           <!--ng-click="toggleSettings(); $event.stopPropagation()">-->
	<!--<md-icon md-font-library="material-icons">settings</md-icon>-->
<!--</md-button>-->


<!--<ul ng-show="settingsOpen()" id="docs-settings-{{section.name | nospace}}" class="menu-settings">-->
	<!--<li ng-repeat="setting in section.settings">-->
		<!--<p>{{setting.name}}</p>-->
		<!--&lt;!&ndash;<menu-link section="item"></menu-link>&ndash;&gt;-->
	<!--</li>-->
<!--</ul>-->

<md-menu md-position-mode="target-left bottom">
	<md-button
			aria-label="Open interactions menu"
			class="md-icon-button"
			ng-click="openMenu($mdOpenMenu, $event); $event.stopPropagation()">
		<md-icon md-font-library="material-icons">more_horiz</md-icon>
	</md-button>
	<md-menu-content width="4">
		<md-menu-item ng-repeat="setting in section.settings">
			<md-button ng-disabled="setting.disabled" ng-click="execute(setting.action, section)">
				<p>{{setting.name}}</p>
			</md-button>
		</md-menu-item>
	</md-menu-content>
</md-menu>