<md-card class="notebook-card" flex layout-fill layout="column">
	<md-card-header class="card-title" flex="12">
		<md-card-header-text class="title-text ">
			<!--<span class="md-headline">{{notebook.name}}</span>-->
		</md-card-header-text>
		<md-divider></md-divider>
	</md-card-header>

	<md-card-content class="card-content" flex>
		<div ng-if="notebook.media.image" class="md-media-lg card-image">
			<img ng-src="{{notebook.media.image.path}}" class="md-card-image" alt="">
		</div>
		<div class="wave-container" ng-if="notebook.postType === 'audio'">
			<wave-preview
					flex
					url="{{notebook.media.audio.path}}"
					auto-play="false"
					player-wave-color="white"
					player-cursor-color="#FF5252"
					player-height="150"
					player-progress-color="black">
			</wave-preview>
		</div>

		<div class="card-text inner-padding">
			<div ng-if="previewText" ng-bind-html="previewText"></div>
		</div>
	</md-card-content>


		<md-divider></md-divider>
	<md-card-actions flex=10 layout="row" layout-align="end bottom">
		<!--<md-button>Action 1</md-button>-->
		<md-button ng-click="open($event, notebook)">Edit Post</md-button>
		<!--<md-button ng-click="notebookDialog($event, notebook.postType, notebook)">Edit Post</md-button>-->
	</md-card-actions>
</md-card>