$mGrey: #9E9E9E; //- primary
$white: #F5F5F5; // -light primary
$dGrey: #616161; // - dark primary
$black: #212121; // - text/icons
$bFaint: rgba(0,0,0,.54);

$red: #FF5252; // - accent color
$lBlack: #757575; // secondary text
$lGrey: #BDBDBD; // - divider color

//This the new grey that you used for the fab button @MattM
$newGrey: #9E9E9E;

$primary: $mGrey;
$light-primary: $white;
$dark-primary: $dGrey;

$accent-color: $red;

$primary-text: $black;
$secondary-text: $lBlack;


@font-face {
	font-family: "DejaVu Mono";
	src: url(../assets/fonts/DejaVuSansMono.ttf);
}

@font-face {
	font-family: "Cutive Mono";
	src: url(../assets/fonts/CutiveMono-Regular.ttf);
}

@font-face {
	font-family: "Roboto";
	src: url(../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Roboto";
	src: url(../assets/fonts/Roboto-Light.ttf);
	font-weight: 300;
}


//In this scss file we can global like rules for elements across the  app. @matt
.md-fab {
	//background-color: $newGrey !important;
}

.smooth {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.md-large-btn {
	width: 15em;
}

//TODO: there should be a way to style button through themeing
.md-grey-fab {
	background-color: $newGrey !important;
	//@extend .smooth;
	&:hover {
		background-color: $lGrey !important;
	}
}



/* inject:scss */
@import 'audioSandbox/mdWavesurferPlayer/mdWavesurferPlayer';
@import 'baseline/baseline';
@import 'main/main';
@import 'meta/meta';
@import 'meta/modal/attachfile';
@import '../components/drawer/drawer';
@import '../components/filebrowser/filebrowser';
@import '../components/navbar/navbar';
/* endinject */