$mGrey: #9E9E9E; //- primary
$white: #F5F5F5; // -light primary
$dGrey: #616161; // - dark primary
$black: #212121; // - text/icons
$bFaint: rgba(0,0,0,.54);

$red: #FF5252; // - accent color
$lBlack: #757575; // secondary text
$lGrey: #BDBDBD; // - divider color

$lBlue: #40C4FF; //

//This the new grey that you used for the fab button @MattM
$newGrey: #9E9E9E;

$primary: $mGrey;
$light-primary: $white;
$dark-primary: $dGrey;

$accent-color: $red;

$primary-text: $black;
$secondary-text: $lBlack;


@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'),
	local('MaterialIcons-Regular'),
	url(../assets/fonts/icons/MaterialIcons-Regular.woff2) format('woff2'),
	url(../assets/fonts/icons/MaterialIcons-Regular.woff) format('woff'),
	url(../assets/fonts/icons/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.no-padding {
	padding: 0;
}

@font-face {
	font-family: "DejaVu Mono";
	src: url(../assets/fonts/DejaVuSansMono.ttf);
}

@font-face {
	font-family: "Cutive Mono";
	src: url(../assets/fonts/CutiveMono-Regular.ttf);
}

@font-face {
	font-family: "Roboto";
	src: url(../assets/fonts/Roboto-Regular.ttf);
}
@font-face {
	font-family: "Roboto-light";
	src: url(../assets/fonts/Roboto-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: "Roboto-Medium";
	src: url(../assets/fonts/Roboto-Medium.ttf);
	font-weight: 300;
}
@font-face {
	font-family: "Roboto-Thin";
	src: url(../assets/fonts/Roboto-Thin.ttf);
	font-weight: 300;
}


.smooth {
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.md-large-btn {
	width: 15em;
}

//TODO: there should be a way to style button through themeing
.md-grey-fab {
	background-color: $newGrey !important;
	//@extend .smooth;
	&:hover {
		background-color: $lGrey !important;
	}
}

.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


md-backdrop.md-sidenav-backdrop {
	z-index: 62 !important;
}

/* inject:scss */
@import 'baseline/baseline.component';
@import 'corpus/corpus.component';
@import 'help/help.component';
@import 'meta/attachment/attachment';
@import 'meta/meta.component';
@import 'notebooks/notebooks.component';
@import 'settings/about/about-settings.component';
@import 'settings/media/media-settings.component';
@import 'settings/network-users/network-users-settings.component';
@import 'settings/project-settings/project-settings.component';
@import 'settings/settings.component';
@import 'tagManagement/hashtags.component';
@import '../assets/lib/simplemde/simplemde';
@import '../components/drawer/drawer';
@import '../components/navbar/navbar';
@import '../components/wavesurfer/wave-preview/wave-preview';
@import '../components/wavesurfer/wavesurfer-player/wavesurfer-player';
/* endinject */
main-loader{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;

	position: fixed;
	z-index: 10000;
	background-color: #fff;
	top:0;
	right:0;
	bottom:0;
	left:0;

	opacity: 1;
	transition: opacity 0.3s ease-in-out;

	h1 {
		color: black;
	}
}

main-loader._splash_fade_out{
	opacity: 0;
}

md-dialog {
	//border-top: 1px solid rgba(0,0,0,0.12) !important;
}

.CodeMirror-hints {
	z-index: 99999 !important;
	color: black !important;

	&:before {
		content: 'Type space to create new tag...';
		height: 30px;
		font-family: Roboto, "Ti", sans-serif !important;
		font-size: 1.1em;
		line-height: 2em;
		display: block;
		font-style: italic;
	}

	li {
		font-family: Roboto, "Ti", sans-serif !important;
		color: black !important;
		font-size:1.2em;
		line-height: 1.8em;
	}
}


.top-border {
	//border: 1px solid red !important;
	border-top: 1px solid rgba(0,0,0,0.12) !important;
}

#uploadButton {
	z-index: 61 !important;
	left: 215px !important;
}

md-sidenav {
	md-list {
		md-list-item {
			.md-button {
				width: 100%;
				margin-left: 0 !important;
				margin-right: 0 !important;

				md-icon {
					padding-top: 5px;
					padding-bottom: 5px;
				}

			}

			&:hover {
				cursor: pointer;
				background: lightgrey;
				transition: .3s;
			}
		}
	}
}


/* start 'enter' transition on main view */
.main.ng-enter {
	/* transition on enter for .5s */
	transition: .5s;

	/* start with opacity 0 (invisible) */
	opacity: 0;
}

/* end 'enter' transition on main view */
.main.ng-enter-active {
	/* end with opacity 1 (fade in) */
	opacity: 1;
}

.md-48 {
	font-size: 48px;
}

.md-36 {
	font-size: 36px;
}

.md-24 {
	font-size: 24px;
}

.md-18 {
	font-size: 18px;
}
