<md-content>

	<md-toolbar class="logo-container md-padding">
		<img src="../../../../../img/glossa-logo.svg" alt="">
	</md-toolbar>

	<h2>Glossa<span> βeta v.0.0.5</span></h2>

	<md-list>
		<md-list-item ng-repeat="contact in $ctrl.contributers" class="md-3-line contact-item">
			<img ng-src="{{contact.avatar.path}}" class="md-avatar" alt="" />
			<div class="md-list-item-text compact">
				<h3>{{contact.name}}</h3>
				<h4>{{contact.title}}</h4>
				<p>{{contact.url}}</p>
			</div>
		</md-list-item>
	</md-list>

	<md-button class="md-raised license-button" ng-click="$ctrl.viewLicense()">View License Agreement</md-button>

</md-content>