<div layout-padding="" class="meta-tab">
	<form name="fileMeta">
		<md-input-container class="md-block" flex-gt-sm="">
			<label>File Name</label>
			<input ng-blur="metaVm.updateData({fileId: metaVm.currentFile._id, field: 'name'})"
			       ng-model-options='{ debounce: 1000 }'
			       ng-model="metaVm.currentFile.name"
			       value="metaVm.currentFile.name">
		</md-input-container>
		<md-input-container class="md-block">
			<label>Description</label>
			<textarea ng-change="metaVm.updateData({fileId: metaVm.currentFile._id, field: 'description'})"
			          ng-model-options='{ debounce: 1000 }'
			          ng-model="metaVm.currentFile.description"
			          rows="5"></textarea>
		</md-input-container>
	</form>
	<div layout="row" layout-align="space-between center">
		<md-button ng-click="metaVm.confirmDeleteDialog($event)" class="md-warn">Delete Text</md-button>
		<md-button ng-click="metaVm.showAttachDialog($event)">Attach</md-button>


		<!--<md-fab-speed-dial ng-hide="metaVm.hidden"-->
		                   <!--md-direction="right"-->
		                   <!--md-open="metaVm.isOpen"-->
		                   <!--class="md-scale "-->
		                   <!--ng-class="{ 'md-hover-full': metaVm.hover }"-->
		                   <!--ng-mouseenter="metaVm.isOpen = true"-->
		                   <!--ng-mouseleave="metaVm.isOpen = false">-->

			<!--<md-fab-trigger>-->
				<!--<md-button aria-label="menu" class="md-fab md-warn">-->
					<!--<md-tooltip md-direction="top"-->
					            <!--md-visible="tooltipVisible"-->
					            <!--md-autohide="true">Attach Files</md-tooltip>-->
					<!--<md-icon aria-label="menu">attachment</md-icon>-->
				<!--</md-button>-->
			<!--</md-fab-trigger>-->

			<!--<md-fab-actions>-->
					<!--<dynamic-upload ng-repeat="item in metaVm.items" item="item"></dynamic-upload>-->
			<!--</md-fab-actions>-->
		<!--</md-fab-speed-dial>-->
	</div>

	<div layout="column" class="attached-media">
		<h3>Associated Media</h3>
		<md-content layout="row">

			<md-card
					flex="33"
					class="mdl-shadow--2dp"
					ng-repeat="(type, attachment) in metaVm.currentFile.media"
					ng-if="attachment != null">
				<md-card-title class="media-title" layout-align="center space-between">
					<md-card-title-text>
						<span class="md-headline">{{attachment.name}}</span>
						<!--<span class="md-subhead">Large</span>-->
					</md-card-title-text>

					<md-card-icon-actions layout="row" layout-align="end top">
						<md-button class="md-icon-button" ng-click="metaVm.editAttachedFile($event, attachment, type)">
							<md-icon>open_in_new</md-icon>
						</md-button>
					</md-card-icon-actions>
				</md-card-title>
				<md-card-content class="media-description">
					<p>{{attachment.description}}</p>
				</md-card-content>
					<!--<md-card-title-media>-->
						<!--<div class="md-media-lg card-media">-->
							<!--<img ng-if="media.type === 'image'" ng-src="{{'../' + media.name}}" alt="">-->
						<!--</div>-->
					<!--</md-card-title-media>-->

				<md-divider></md-divider>
				<md-card-actions layout="row" layout-align="start center">
					<md-button ng-click="metaVm.disconnectDialog($event, attachment, type)">Disconnect</md-button>
				</md-card-actions>
			</md-card>
		</md-content>
	</div>
	<md-divider></md-divider>
</div>