<div layout-padding="" class="meta-tab">
	<form name="fileMeta">
		<md-input-container class="md-block" flex-gt-sm="">
			<label>File Name</label>
			<input ng-blur="metaVm.updateData({fileId: metaVm.currentFile._id, field: 'name'})"
			       ng-model-options='{ debounce: 1000 }'
			       ng-model="metaVm.currentFile.name"
			       value="metaVm.currentFile.name">
		</md-input-container>
		<md-input-container class="md-block">
			<label>Description</label>
			<textarea ng-change="metaVm.updateData({fileId: metaVm.currentFile._id, field: 'description'})"
			          ng-model-options='{ debounce: 300 }'
			          ng-model="metaVm.currentFile.description"
			          mentio
			          ng-trim="false"
			          autocomplete="off"
			          id="theText"
			          mentio-id="'theText'"
			          mentio-typed-term="typedTerm"
			          mentio-require-leading-space="true"
			          mentio-select-not-found="true"
			          rows="5"></textarea>

			<mentio-menu
					mentio-for="'theText'"
					mentio-trigger-char="'#'"
					mentio-items="metaVm.hashtags"
					mentio-template-url="./components/mentionTemplates/mention.hashtags.html"
					mentio-search="metaVm.searchHashtags(term)"
					mentio-select="metaVm.selectHashtag(item)"
			></mentio-menu>

					<!--mentio-template-url="/product-mentions.tpl"-->

		</md-input-container>

		{{metaVm.currentFile.description | json }}
	</form>
	<div layout="row" layout-align="space-between center">
		<md-button ng-click="metaVm.confirmDeleteDialog($event)" class="md-warn">Delete Text</md-button>
		<md-button ng-disabled="metaVm.currentFile.media.image && metaVm.currentFile.media.audio" ng-click="metaVm.showAttachDialog($event)">Attach</md-button>
	</div>

	<div layout="column" class="attached-media">
		<h3>Associated Media</h3>
		<md-content layout="row">

			<md-card flex="33"
					class="mdl-shadow--2dp attachment-card"
					ng-repeat="(type, attachment) in metaVm.currentFile.media"
					ng-if="attachment != null && type != 'type' && metaVm.currentFile.mediaType !== 'notebook'">

				<md-card-title class="media-title" layout-align="center space-between">

					<md-card-title-text>
						<span class="md-headline">{{attachment.name}}</span>
						<span class="md-subhead">Independent Media File</span>
					</md-card-title-text>

					<md-card-icon-actions layout="row" layout-align="end top">
						<md-button class="md-icon-button" ng-click="metaVm.editAttachedFile($event, attachment, type)">
							<md-icon>open_in_new</md-icon>
						</md-button>
					</md-card-icon-actions>

				</md-card-title>

				<md-card-content class="media-description">
					<p>{{attachment.description}}</p>
				</md-card-content>
					<!--<md-card-title-media>-->
						<!--<div class="md-media-lg card-media">-->
							<!--<img ng-if="media.type === 'image'" ng-src="{{'../' + media.name}}" alt="">-->
						<!--</div>-->
					<!--</md-card-title-media>-->
				<md-divider></md-divider>
				<md-card-actions layout="row" layout-align="start center">
					<md-button ng-click="metaVm.disconnectDialog($event, attachment, type)">Disconnect</md-button>
				</md-card-actions>
			</md-card>

			<md-card flex="66"
			         class="mdl-shadow--2dp attachment-card"
			         ng-if="metaVm.currentFile.mediaType === 'notebook'">

				<md-card-title class="media-title" layout-align="center space-between">

					<md-card-title-text>
						<span class="md-headline">{{metaVm.attachedNotebook.name}}</span>
						<span class="md-subhead">Notebook Attachment</span>
					</md-card-title-text>

					<md-card-icon-actions layout="row" layout-align="end top">
						<!--<md-button class="md-icon-button" ng-click="metaVm.editAttachedFile($event, metaVm.attachedNotebook, type)">-->
							<!--<md-icon>open_in_new</md-icon>-->
						<!--</md-button>-->
					</md-card-icon-actions>

				</md-card-title>

				<md-card-content class="media-content">
					<div ng-if="metaVm.attachedNotebook.media.image" class="media-image">
						<img ng-src="{{'../' + metaVm.attachedNotebook.media.image.path}}" alt="">

						<!--<md-button class="md-icon-button" ng-if="metaVm.attachedNotebook.media.audio">-->
							<!--<md-icon class="md-icon" >volume_up</md-icon>-->
						<!--</md-button>-->
					</div>

					<div class="media-description">
						<p>{{metaVm.attachedNotebook.description}}</p>
					</div>
				</md-card-content>
				<!--<md-card-title-media>-->
				<!--<div class="md-media-lg card-media">-->
				<!--<img ng-if="media.type === 'image'" ng-src="{{'../' + media.name}}" alt="">-->
				<!--</div>-->
				<!--</md-card-title-media>-->
				<md-divider></md-divider>
				<md-card-actions layout="row" layout-align="start center">
					<md-button ng-click="metaVm.disconnectDialog($event, metaVm.attachedNotebook)">Disconnect</md-button>
				</md-card-actions>
			</md-card>
		</md-content>
	</div>
	<md-divider></md-divider>
</div>