.meta-tab {
	input, textarea {
		color: $black !important;
	}
}


//meta
.image-attachement {
	img {
		max-width: 150px;
	}
}

.md-dialog-container {
	button {
		width: 200px;
	}
}

.media-title {
	padding: 16px !important;

	.md-headline {
		font-weight: 300 !important;
		color: $black !important;
	}

}
.media-description {
	p {
		color: $bFaint !important;
	}
}
