<md-button class="md-button-link"
           ng-class="{'active' : $ctrl.isSelected()}"
           ui-sref="{{$ctrl.section.state}}({{$ctrl.section.params}})"
           ng-click="$ctrl.focusSection()">

           <!--ui-sref="{{section.state}}(section.params)"-->
	<div flex layout="row">
		{{$ctrl.section | humanize}}
		<span flex></span>
		<drawer-submenu section="$ctrl.section" ng-if="$ctrl.section.settings"></drawer-submenu>

	</div>
	<!--<span>{{$ctrl.section.state}}({{$ctrl.section.params}})</span>-->
</md-button>