<md-content id="notebook-container" layout="row" flex ng-cloak>
	<md-content flex="25" layout-padding class="left-side">

		<user-list
			all-connections="$ctrl.allConnections"
			selected="$ctrl.selected"
			on-exists="$ctrl.exists($event)"
			on-toggle="$ctrl.toggle($event)">
		</user-list>

		<md-divider></md-divider>

		<h3>Common Tags</h3>
		<md-button ng-click="$ctrl.tagManageDialog()" class="md-raised tag-btn">Tag Management</md-button>
		<md-list>
			<md-list-item  class="chip-item" ng-repeat="tag in $ctrl.commonTags | orderBy: '-occurrence'" ng-class="{'active-chip': $ctrl.selectedHashtags.indexOf(tag._id) > -1}">
					<md-chip class="chip-container" md-ink-ripple ng-click="$ctrl.toggleHashtags(tag)" >
						<span>
							<span class="chip-icon">#</span>
							<span class="chip-text">{{tag.tag}}</span>
						</span>
					</md-chip>
			</md-list-item>
		</md-list>
	</md-content>

	<md-content flex="75" class="notebook-list" layout-padding>
		<md-progress-circular class="notebook-loader fade-out" ng-hide="!$ctrl.isLoading" md-diameter="50"></md-progress-circular>
		<md-button class="md-raised update-btn" ng-if="$ctrl.externalNotebooks.length" ng-click="$ctrl.showNewUpdates()">
			<span>{{$ctrl.externalNotebooks.length}} updates are available.</span>
			<span>View changes</span>
			<md-icon class="">update</md-icon>
		</md-button>
		<notebook-list layout="column"
		               selected="$ctrl.selected"
		               selected-hashtags="$ctrl.selectedHashtags"
			           current-user="$ctrl.currentUser"
			           hashtags="$ctrl.hashtags"
			           notebooks="$ctrl.notebooks"
			           settings="$ctrl.settings"
			           search-text="$ctrl.searchText"
			           on-view-details="$ctrl.viewDetails($event)"
			           on-view-preview="$ctrl.viewPreview($event)">
		</notebook-list>
	</md-content>

	<md-fab-speed-dial
			ng-hide="$ctrl.hidden"
			md-direction="up"
			md-open="metaVm.isOpen"
			class="md-scale md-fab-bottom-right "
			ng-class="{ 'md-hover-full': $ctrl.hover }"
			ng-mouseenter="$ctrl.isOpen = true"
			ng-mouseleave="$ctrl.isOpen = false">
		<md-fab-trigger>
			<md-button aria-label="menu" class="md-fab md-grey-fab">
				<md-icon aria-label="menu">add</md-icon>
			</md-button>
		</md-fab-trigger>
		<md-fab-actions>
			<md-button ng-repeat="item in $ctrl.items" class="md-fab md-raised md-mini" ng-click="$ctrl.viewDetails($event, item.type)">
				<md-icon>{{item.icon}}</md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>

</md-content>