.transparent {
	background-color: transparent !important;
}

.waveSurferWave {
	//background-image: url('C:\xampp\htdocs\development\_moranmedia\glossa\uploads\Adam.jpg');
	background-size: cover;

	wave {
		overflow: hidden !important;
	}
}

.audioPlayerWrapper {
	position: relative;

	.md-player-controls {
		position: absolute;
		bottom: -40px;
	}

}
