.transparent {
	background-color: transparent !important;
}

.waveSurferWave {//container of wave surfer
	background-size: cover;

	wave {
		overflow: hidden !important;
	}

	md-progress-linear {
		margin-top: 97px;
		position: absolute;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		box-shadow: inset 0 8px 8px -8px #696868;
	}
}

.audioPlayerWrapper {
	position: relative;

	.md-player-controls {
		position: absolute;
		bottom: -40px;
	}

}

.current-speed {
	position: absolute;
	top: -15px;
	right: 15px;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 1em;
	z-index: 99;
	text-shadow: 1px 1px 2px black;

}

