.transparent {
	background-color: transparent !important;
}

.waveSurferWave {//container of wave surfer
	background-size: cover;

	wave {
		overflow: hidden !important;
	}

	md-progress-linear {
		margin-top: 97px;
		position: absolute;
	}
}

.audioPlayerWrapper {
	position: relative;

	.md-player-controls {
		position: absolute;
		bottom: -40px;
	}

}


