<md-sidenav
        md-component-id="sidebar"
        md-is-locked-open="true"
        class="md-whiteframe-4dp"
        layout-column>
  <md-content layout-fill role="navigation">

    <!--<md-button ng-click="vm.createMDFile()" ng-cloak ng-if="!vm.filteredFiles.length">Create New File</md-button>-->

    <md-list>
      <!--<md-list-item ng-class="{active: vm.currentFile._id === file._id}" ng-repeat="file in vm.filteredFiles = (vm.markdownFiles | filter: vm.searchText)" class="md-2-line" ng-click="vm.fileSelection(file)">-->
        <!--<a>-->
          <!--<md-item-content md-ink-ripple layout="row" layout-align="start center">-->
            <!--<div class="md-list-item-text" layout="column">-->
              <!--<h3>{{file.displayName}}</h3>-->
              <!--<p>{{file.content | limitTo: 30 }}<span ng-if="file.content.length > 30">...</span></p>-->
            <!--</div>-->
          <!--</md-item-content>-->
        <!--</a>-->
      <!--</md-list-item>-->
    </md-list>
  </md-content>
</md-sidenav>