<md-toolbar layout="row" class="nav-content primary-bg" md-whiteframe="1" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
	<div class="md-toolbar-tools">
		<md-button aria-label="Open demo menu" class="md-icon-button " ng-click="navVm.toggleLeft()">
			<md-icon md-font-library="material-icons">menu</md-icon>
		</md-button>
		<md-button aria-label="Open Settings" class="md-icon-button">
			<md-icon class="material-icons">search</md-icon>
		</md-button>

		<!--<div class="search-wrapper" flex>-->
		<md-input-container md-no-float flex>
			<form ng-submit="vm.searchSubmit()">
				<input ng-model="navVm.searchText" placeholder="Search...">
				<!-- Can/should search text be white? or more visible/legible (and without weird hacks)?-->

			</form>
			<!--<input ng-show="navVm.showSearch" ng-model="searchInput" placeholder="Search...">-->
		</md-input-container>
		<!--</div>-->

		<!-- ADD THE STUFF BELOW BACK IN LATER, WHEN I THINK THROUGH WHAT NEEDS TO GO IN THERE A BIT BETTER-->
		<!-- <md-button aria-label="Open Settings" class="md-icon-button">
			<md-icon md-font-library="material-icons">info_outline</md-icon>
		</md-button>

		<md-menu md-position-mode="target-right bottom">
			<md-button aria-label="Open Settings" class="md-icon-button" ng-click="navVm.openMenu($mdOpenMenu, $event)">
				<md-icon md-font-library="material-icons">more_vert</md-icon>
			</md-button>
			<md-menu-content width="3">
				<md-menu-item ng-repeat="item in navVm.dropDownMenu" >
					<md-button ng-click="navVm.execute(item.action)">
						{{item.title}}
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu> -->

	</div>
</md-toolbar>