<md-toolbar ng-controller="NavbarCtrl as navVm" class="nav-content" class="primary-bg" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">

	<div class="md-toolbar-tools">
		<md-button aria-label="Open demo menu" class="md-icon-button " ng-click="navVm.toggleLeft()">
			<md-icon md-font-library="material-icons">menu</md-icon>
		</md-button>

		<md-button aria-label="Open Settings" class="md-icon-button" ng-click="navVm.showSearch = !navVm.showSearch">
			<md-icon class="material-icons">search</md-icon>
		</md-button>


		<!--<div class="search-wrapper" flex>-->
			<md-input-container md-no-float flex >
				<input ng-model="searchInput" placeholder="Search here">
				<!--<input ng-show="navVm.showSearch" ng-model="searchInput" placeholder="Search here">-->
			</md-input-container>
		<!--</div>-->

		<md-button aria-label="Open Settings" class="md-icon-button">
			<md-icon md-font-library="material-icons">info_outline</md-icon>
		</md-button>

		<md-menu md-position-mode="target-right bottom">
			<md-button aria-label="Open Settings" class="md-icon-button" ng-click="navVm.openMenu($mdOpenMenu, $event)">
				<md-icon md-font-library="material-icons">more_vert</md-icon>
			</md-button>
			<md-menu-content width="3">
				<md-menu-item ng-repeat="item in navVm.dropDownMenu" >
					<md-button ng-click="navVm.execute(item.action)">
						{{item.title}}
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>

</md-toolbar>

