md-toolbar.nav-content {
	//height: 64px;
	//overflow: hidden;

	md-input-container {
		margin: 0;

		input {
			margin-top: 20px;
			margin-left:5px;
		}

		md-icon {
			padding: 8px;
		}

	}
}

//TODO: change this with pallate settings
md-input-container .md-input {
	color: rgba(255,255,255,0.87);
}

.md-nav-bar {
	border: none;

	nav {
		ul {
			overflow: hidden;
		}
	}
}

//64 us the height of the navbar
.static-left {
	//height: -webkit-calc(100% - 64px);
	//overflow: hidden;

	overflow: auto;
}