<!--<nav ng-controller="NavbarCtrl as navVm">-->
	<!--<div class="nav-wrapper">-->
		<!--<div class="left">-->
			<!--<a id="sidenav-button" href="#" data-activates="slide-out" data-sidenav="left" data-menuwidth="300" data-closeonclick="false">-->
			<!--&lt;!&ndash;<a id="sidenav-button" href="#" data-activates="slide-out">&ndash;&gt;-->
				<!--<i class="material-icons">menu</i>-->
			<!--</a>-->
		<!--</div>-->
		<!--<form id="navbar-search" class="brand-logo">-->
			<!--<div class="input-field">-->
				<!--<input id="search-files" type="search" required>-->
				<!--<label for="search-files">-->
					<!--<i class="material-icons">search</i>-->
				<!--</label>-->

				<!--<i class="material-icons">close</i>-->
			<!--</div>-->
		<!--</form>-->
		<!--<ul class="right">-->
			<!--<li>-->
				<!--<a href="#"><i class="material-icons">info_outline</i></a>-->
			<!--</li>-->
			<!--<li>-->
				<!--<a id="navbar-options" href='javascript:void(0);' data-activates='more-options' dropdown data-beloworigin="true">-->
					<!--<i class="material-icons">more_vert</i>-->
				<!--</a>-->
			<!--</li>-->
		<!--</ul>-->
	<!--</div>-->

	<!--&lt;!&ndash; Navbar dropdown content &ndash;&gt;-->
	<!--<ul id='more-options' class='dropdown-content' data-constrainwidth="false" >-->
		<!--<li ng-repeat="item in navVm.dropDownMenu">-->
			<!--<a ng-click="navVm.execute(item.action)">{{item.title}}</a>-->
		<!--</li>-->
	<!--</ul>-->

	<!--<ul id="slide-out" class="side-nav collapsible collapsible-accordion" data-collapsible="accordion">-->
		<!--<li class="logo">Corpus</li>-->
		<!--<li>-->
			<!--<div class="collapsible-header">-->
				<!--Libraries-->
			<!--</div>-->

			<!--<div class="collapsible-body">-->
				<!--<ul id="library-browser" class="collection">-->
					<!--&lt;!&ndash;             <li class="collection-item">testing</li>-->
								<!--<li class="collection-item">testing</li>-->
								<!--<li class="collection-item">testing</li>-->
								<!--<li class="collection-item">testing</li>-->
					 <!--&ndash;&gt;          </ul>-->
			<!--</div>-->
		<!--</li>-->
		<!--<li>-->
			<!--<div class="collapsible-header">-->
				<!--Second Sidebar Link-->
			<!--</div>-->
			<!--<div class="collapsible-body">-->
				<!--<ul class="collection">-->
					<!--<li class="collection-item">testing</li>-->
					<!--<li class="collection-item">testing</li>-->
					<!--<li class="collection-item">testing</li>-->
					<!--<li class="collection-item">testing</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</li>-->
	<!--</ul>-->
<!--</nav>-->
<!--<div ng-controller="NavbarCtrl as navVm">-->

<md-toolbar ng-controller="NavbarCtrl as navVm" class="nav-content" class="primary-bg" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">

	<div class="md-toolbar-tools">
		<md-button aria-label="Open demo menu" class="md-icon-button " ng-click="navVm.toggleLeft()">
			<md-icon md-font-library="material-icons">menu</md-icon>
		</md-button>

		<md-button aria-label="Open Settings" class="md-icon-button" ng-click="navVm.showSearch = !navVm.showSearch">
			<md-icon class="material-icons">search</md-icon>
		</md-button>


		<!--<div class="search-wrapper" flex>-->
			<md-input-container md-no-float flex >
				<input ng-model="searchInput" placeholder="Search here">
				<!--<input ng-show="navVm.showSearch" ng-model="searchInput" placeholder="Search here">-->
			</md-input-container>
		<!--</div>-->

		<md-button aria-label="Open Settings" class="md-icon-button">
			<md-icon md-font-library="material-icons">info_outline</md-icon>
		</md-button>

		<md-menu md-position-mode="target-right bottom">
			<md-button aria-label="Open Settings" class="md-icon-button" ng-click="navVm.openMenu($mdOpenMenu, $event)">
				<md-icon md-font-library="material-icons">more_vert</md-icon>
			</md-button>
			<md-menu-content width="3">
				<md-menu-item ng-repeat="item in navVm.dropDownMenu" >
					<md-button ng-click="navVm.execute(item.action)">
						{{item.title}}
					</md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>

</md-toolbar>

		<!--<md-nav-item ng-repeat="item in navVm.dropDownMenu" md-nav-click="navVm.execute(item.action)" name="{{item.title}}">{{item.title}}</md-nav-item>-->
<!--</div>-->