
$mGrey: #9E9E9E; //- primary
$white: #F5F5F5; // -light primary
$dGrey: #616161; // - dark primary
$black: #212121; // - text/icons

$red: #FF5252; // - accent color
$lBlack: #757575; // secondary text
$lGrey: #BDBDBD; // - divider color

$primary: $mGrey;
$light-primary: $white;
$dark-primary: $dGrey;

$accent-color: $red;

$primary-text: $black;
$secondary-text: $lBlack;


@font-face {
	font-family: "DejaVu Mono";
	src: url(../fonts/DejaVuSansMono.ttf);
}

@font-face {
	font-family: "Cutive Mono";
	src: url(../fonts/CutiveMono-Regular.ttf);
}

@font-face {
	font-family: "Roboto Mono";
	src: url(../fonts/RobotoMono-Regular.ttf);
}

md-toolbar.nav-content {
	height: 64px;
	overflow: hidden;

	md-input-container {
		margin: 0;

		input {
			margin-top: 20px;
			margin-left:5px;
			padding-left:25px;
		}

		md-icon {
			padding: 8px;
		}
	}
}

.md-nav-bar {
	border: none;

	nav {
		ul {
			overflow: hidden;
		}
	}
}

//64 us the height of the navbar
.static-left {
	height: -webkit-calc(100% - 64px);
	overflow: hidden;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
	min-width: 200px !important;
	width: 85vw !important;
	max-width: 250px !important;
}

.ace_editor {
	height: -webkit-calc(100% - 116px);
	width: 100%;
}


.drawer-header {
	background-color: #fff !important;
}

.logo-container {
	padding-top: 40px;
	padding-left: 20px;
	padding-bottom: 40px;
	img {
		display: block;
		width: 60%;
	}
}





//.bottom-button {
//	position: absolute;
//	bottom: 0;
//}