<md-dialog id="attach-file-dialog" flex="50" aria-label="Attach files">
	<form ng-cloak>
		<!--<md-toolbar>-->
			<!--<div class="md-toolbar-tools">-->
				<!--<h2>Upload New</h2>-->
				<!--<span flex></span>-->
			<!--</div>-->
			<!--<md-button class="md-icon-button" ng-click="atVm.cancel()">-->
				<!--<md-icon aria-label="Close dialog">close</md-icon>-->
			<!--</md-button>-->
		<!--</md-toolbar>-->
		<md-dialog-content>
			<div class="md-dialog-content">

				<div class="notebook">
					<h2>Attach from notebook</h2>
					<md-input-container md-no-float class="md-block" >
						<md-icon class="material-icons">search</md-icon>
						<form ng-submit="atVm.searchSubmit()">
							<input ng-model="atVm.searchText" placeholder="Search Notebooks...">
						</form>
					</md-input-container>

					<md-content class="search-result-wrapper">
						<md-list>
							<md-list-item
									ng-repeat="notebook in atVm.notebooks | filter: atVm.searchText"
									class="md-2-line notebook-item"
									ng-click="atVm.attachNotebook(notebook, atVm.currentFile)"
									md-ink-ripple layout="row"
									layout-align="center center"
									ng-class="{ 'nb-active': notebook == atVm.activeNotebook }">

								<!--<div md-ink-ripple layout="column">-->

								<div class="md-list-item-image md-padding" flex="30" layout="column">
									<img ng-if="notebook.media.image" ng-src="{{'../' + notebook.media.image.path}}" alt="">
								</div>

								<div class="md-list-item-text md-padding" flex="40" layout="column">
									<h3>{{notebook.name}}</h3>
									<p>{{notebook.description}}</p>
								</div>
								<div class="md-list-item-audio md-padding" flex="30" layout="column" layout-align="center center">
									<md-button ng-if="notebook.media.audio" class="md-icon-button">
										<!--ng-click="atVm.playPauseAudio(notebook); $event.stopPropagation()"-->
										<md-icon class="material-icons">volume_up</md-icon>
									</md-button>
								</div>



								<!--</div>-->
								<md-divider></md-divider>
							</md-list-item>
						</md-list>
					</md-content>
				</div>


				<div class="new-files">
					<h2>or upload new files</h2>
					<div layout="row" layout-align="space-between center">
						<dynamic-upload ng-repeat="item in atVm.items" item="item" current-file="atVm.currentFile"></dynamic-upload>
					</div>

					<div class="md-padding" layout="row" layout-align="space-between center">
						<h3 ng-show="atVm.currentFile.media.audio">
							{{atVm.currentFile.media.audio.name}}
						</h3>
						<!--TODO: figure out how not to have to do this: '../'-->
						<img  ng-if="atVm.currentFile.media.image.path" ng-src="{{'../' + atVm.currentFile.media.image.path}}" alt="">
					</div>
				</div>



			</div>
		</md-dialog-content>


		<md-dialog-actions layout="row" layout-align="space-between">
			<md-button ng-click="atVm.cancel('cancel')">
				Cancel
			</md-button>
			<md-button ng-click="atVm.save('Save Changes')">
				Okay
			</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>