@import "colors";

settings-hashtags {

	.table-container {
		position: relative;
		overflow: visible;
		font-size: 15px;

		* {
			box-sizing: inherit;
			&:before{
				box-sizing: inherit;
			}

			&:after {
				box-sizing: inherit;
			}
		}
		//.md-body {
		//	box-sizing: inherit;
		//}
		table {
			width: 100%;
			display: table;

			tr {
				th {
					padding-left: 24px !important;
				}
				&:hover{
					td {
						background: #EEEEEE;
					}
				}
			}

			//tr {
			//	height: unset !important;
			//
			//	td {
			//		//border-bottom: solid 1px #DDDDDD;
			//		padding-left: 24px;
			//		height: 48px;
			//		font-size: 13px;
			//		color: #212121;
			//	}
			//}
		}

	}


	tbody.md-body {
		> tr.md-row, table.md-table {
			tfoot.md-foot {
				> tr.md-row {
					height: unset !important;
				}
			}
		}
	}

	.table-row {
		.table-cell {
			padding-left: 24px !important;
			padding-top:12px !important;
			padding-bottom: 12px !important;
		}
		&.disabled-row {
			.table-cell {
				color: $lGrey;

				//&:hover {
				//	cursor: default;
				//}
			}
			.remove-row {
				//&:hover {
				//	cursor: default;
				//}
			}

			//&:hover {
			//	cursor: default;
			//}
		}
	}
}

md-edit-dialog{
	//md-input-container .md-input {
	//	color: rgba(0, 0, 0, 0.87) !important;
	//}
}

tbody.md-body.md-virtual-repeat-container {
	display: table-row-group;

	.md-virtual-repeat-scroller {
		//top: initial;
		//bottom: initial;
	}
}

.hide-overflow {
	overflow: hidden;
}