@import "colors";
@import "global";
@import "fonts";
@import "forms";
@import "loading-bar";
@import "~simplemde/dist/simplemde.min.css";
@import "~angular-material-data-table/dist/md-data-table.css";


.ghost {
  .ghost-nav {
    min-height: 64px;
    background-color: $mGrey;
    position: absolute;
    z-index: 2;
    top: 0;
    margin: auto;
    width: 100%;

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
}

@media (max-width: 959px) {
  .ghost {
    .ghost-nav {
      background-color: red;
      height: 56px;
      min-height: 56px;
    }
  }
}

root {
  display: block;


  .loader {
    position: absolute;
    top: 40%;
    left: 45%;
    //font-size: 24px;
    display: block;
    text-align: center;
    //font-weight: 900;
  }

  md-backdrop.md-sidenav-backdrop {
    z-index: 62 !important;
  }

  .md-grey-fab {
    background-color: $newGrey !important;
    //@extend .smooth;
    &:hover {
      background-color: $lGrey !important;
    }
  }


}


//Core hint styling
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 3px;
  border: 1px solid silver;

  background: white;
  font-size: 90%;
  font-family: monospace;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: black;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #08f;
  color: white;
}


.CodeMirror-hints {
  z-index: 99999 !important;
  color: black !important;

  &:before {
    content: 'Type space to create new tag...';
    height: 30px;
    font-family: Roboto, "Ti", sans-serif !important;
    font-size: 1.1em;
    line-height: 2em;
    display: block;
    font-style: italic;
  }

  li {
    font-family: Roboto, "Ti", sans-serif !important;
    color: black !important;
    font-size:1.2em;
    line-height: 1.8em;
  }
}

//main spinner position and color
md-progress-circular {
  &#loading-spinner {
    position: absolute;
    z-index: 999;
    top: 12px;
    right: 12px;
    margin: auto;

    svg path { stroke: white; }
  }

}

//TODO: Change to angular material loading bar template
#loading-bar {
  .bar {
    background: $red;
  }

  .peg {
    -webkit-box-shadow: $red 1px 0 6px 1px;
    -moz-box-shadow: $red 1px 0 6px 1px;
    -ms-box-shadow: $red 1px 0 6px 1px;
    box-shadow: $red 1px 0 6px 1px;
  }
}