	<div class='windows-titlebar-hamburger'>
		<button title='Menu' class='windows-titlebar-button' ng-click="$ctrl.popupAppMenuEvent()">
			<svg class='windows-titlebar-icon' x='0px' y='0px' viewBox='0 0 10.2 10.2'>
				<rect fill='#fff' width='10' height='1'/>
				<rect fill='#fff' y='4' width='10.2' height='1'/>
				<rect fill='#fff' y='8' width='10.2' height='1'/>
			</svg>
		</button>
	</div>
	<div class='windows-titlebar-title'>Glossa</div>
	<div class='windows-titlebar-spacer'></div>

	<div class='windows-titlebar-controls'>

		<!--minimize-->
		<button class='windows-titlebar-button' ng-click="$ctrl.minimize()">
			<svg class='windows-titlebar-icon' x='0px' y='0px' viewBox='0 0 10.2 1'>
				<rect fill="#fff" width='10.2' height='1'/>
			</svg>
		</button>

		<!--maximize/unmaximize-->
		<button ng-if="!$ctrl.isMaximized()"
				class='windows-titlebar-button'
				ng-click="$ctrl.maximize()">
			<svg class='windows-titlebar-icon' x='0px' y='0px' viewBox='0 0 10.2 10.2'>
				<path fill="#fff"
				      d='M0,0v10.1h10.2V0H0z M9.2,9.2H1.1V1h8.1V9.2z'
				/>
			</svg>
		</button>

		<button ng-if="$ctrl.isMaximized()"
		        class='windows-titlebar-button'
		        ng-click="$ctrl.unmaximize()">
			<svg class='windows-titlebar-icon' x='0px' y='0px' viewBox='0 0 10.2 10.2'>
				<path fill="#fff"
				      d='M2.1,0v2H0v8.1h8.2v-2h2V0H2.1z M7.2,9.2H1.1V3h6.1V9.2z M9.2,7.1h-1V2H3.1V1h6.1V7.1z'/>
			</svg>
		</button>

		<!--close-->
		<button class='windows-titlebar-button'
		        ng-click="$ctrl.close()">
			<svg class='windows-titlebar-icon' x='0px' y='0px' viewBox='0 0 10.2 10.2'>
				<polygon fill="#fff"
				         points='10.2,0.7 9.5,0 5.1,4.4 0.7,0 0,0.7 4.4,5.1 0,9.5 0.7,10.2 5.1,5.8 9.5,10.2 10.2,9.5 5.8,5.1 '/>
			</svg>
		</button>

	</div>