

<md-sidenav class="md-sidenav-left collapsable-nav" md-component-id="left"  md-whiteframe="24" >
	
	<md-toolbar class="drawer-header">
		<div class="logo-container">
			<img src="assets/img/logo.png" width="800px" alt="">
		</div>
		<!--<md-card>-->
			<!--<img src="assets/img/logo.png" alt="">-->
		<!--</md-card>-->
		<!--<h1 class="md-toolbar-tools">Glossa</h1>-->
	</md-toolbar>

	<!--<md-content flex role="navigation" >-->
		<!--<ul class="side-menu">-->
			<!--&lt;!&ndash;<pre>{{dVm.menu.section | json}}</pre>&ndash;&gt;-->

			<!--<li ng-repeat="section in dVm.menu.section" class="parent-list-item"-->
			    <!--ng-class="{'parentActive' : dVm.isSectionSelected(section)}">-->
				<!--<h2 class="menu-heading"-->
				    <!--ng-if="section.type === 'heading'"-->
				    <!--id="heading_{{ section.name }}">-->
					<!--{{section}}-->
				<!--</h2>-->
				<!--<menu-link section="section" ng-if="section.type === 'link'"></menu-link>-->
				<!--<menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>-->
			<!--</li>-->
		<!--</ul>-->


	<!--</md-content>-->

	<md-content role="navigation">
		<ul class="side-menu">
			<li ng-repeat="section in dVm.menu.section" class="parent-list-item"
			    ng-class="{'parentActive' : dVm.isSectionSelected(section)}">
				<h2 class="menu-heading" ng-if="section.type === 'heading'"
				    id="heading_{{ section.name | nospace }}">
					{{section}}
				</h2>
				<menu-link section="section" ng-if="section.type === 'link'"></menu-link>
				<menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
			</li>
		</ul>
	</md-content>

</md-sidenav>