<md-sidenav class="md-sidenav-left collapsable-nav" md-component-id="left"  md-whiteframe="24" layout="column" layout-align="space-between center">

	<md-list>
		<md-toolbar class="drawer-header">
			<div class="logo-container">
				<img src="assets/img/logo.png" alt="">
			</div>
		</md-toolbar>

		<md-content role="navigation" >
			<ul class="side-menu">
				<li ng-repeat="section in dVm.menu.section" class="parent-list-item"
				    ng-class="{'parentActive' : dVm.isSectionSelected(section)}">
					<h2 class="menu-heading" ng-if="section.type === 'heading'"
					    id="heading_{{ section.name | nospace }}">
						{{section}}
					</h2>
					<menu-link section="section" ng-if="section.type === 'link'"></menu-link>
					<menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
				</li>
			</ul>
		</md-content>
	</md-list>

	<md-list class="bottom-list">
		<md-content role="navigation" >
			<ul class="side-menu">
				<li class="parent-list-item">
					<md-button class="md-button-toggle">
						<div flex layout="row">
							Settings
							<span flex></span>
							<!--<settings-toggle section="section" ></settings-toggle>-->

							<span aria-hidden="true"
							      class="md-toggle-icon">
								<md-icon md-font-library="material-icons">settings</md-icon>
							</span>
						</div>
					</md-button>
				</li>
			</ul>
		</md-content>
	</md-list>

</md-sidenav>