#file-browser {
	min-width: 275px;
}

.static-left {
	min-width: 275px;
	md-list {
		md-list-item {
			.md-button {
				width: 100%;
				margin-left: 0 !important;
				margin-right: 0 !important;

				md-icon {
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
	}
}

