<md-sidenav class="md-sidenav-left static-left md-whiteframe-z2" md-component-id="left2" md-is-locked-open="true"  layout="column">

<!-- THIS LIST SHOULD LIST ALL THE FILES IN THE COPRUS SELECTED IN THE DRAWER. MAIN TITLE OF ITEM SHOULD BE THE (FIRST) MARKDOWN H1, UNLESS THERE ISN'T ONE... THEN IT SHOULD BE THE NAME OF THE ACTUAL TXT FILE (WITHOUT .EXT) IF THAT IS WHAT THESE WILL BE... TEXT FILES OR DATA ON A DATABASE SOMEWHERE? SHOULD BE A DENSE VIEW, NO ICONS, JUST THE TITLE AND A FEW (LIKE 3) LINES OF THE ACTUAL TEXT. SHOULD HIGHLIGHT ON HOVER I THINK. -->

			<md-button ng-click="vm.createNewText()" ng-cloak ng-if="!vm.filteredFiles.length">Create New File</md-button>
	<md-list>
		<md-list-item ng-repeat="file in vm.filteredFiles = (vm.fileList | filter: vm.searchText)">
			<a ng-if="file.category != 'audio'" ng-click="vm.fileSelection(file)">
				<md-item-content md-ink-ripple layout="row" layout-align="start center">
					<div class="inset">
						<md-icon md-font-library="material-icons">insert_drive_file</md-icon>
					</div>
					<div class="inset">{{file.name}}</div>
				</md-item-content>
			</a>

		</md-list-item>
	</md-list>
	
	<!-- THIS FAB SHOULD ADD A NEW TEXT TO THE CORPUS WE WOULD BE BROWSING RIGHT NOW. ACTIVE TAB ON ITEMS MADE HERE SHOULD BE THE META TAB. -->
	<!--<aps-upload-file buttonicon="add"></aps-upload-file>-->
	<md-button id="uploadButton"
	           class="md-button md-fab md-fab-bottom-right"
	           aria-label="attach_file"
				ng-click="vm.createNewText()">

		<md-icon class="material-icons">add</md-icon>
	</md-button>

</md-sidenav>

