<md-sidenav class=" drawer site-sidenav md-sidenav-left collapsable-nav" md-component-id="left" md-whiteframe="24" tabindex="-1" layout="column" layout-align="space-between center">
    <md-list>
        <md-toolbar class="nav-header logo-container">
            <img src="assets/img/logo.svg" alt="">
        </md-toolbar>
        <!--<header class="nav-header logo-container">-->
        <!--<img src="assets/img/logo.svg" alt="">-->
        <!--</header>-->
        <md-content flex="" role="navigation" class="_md flex">
            <ul class="side-menu">
                <li ng-repeat="section in dVm.menu.section" class="parent-list-item" ng-class="{'parentActive' : dVm.isSectionSelected(section)}">

                    <!--if type is heading show this element-->
                    <h2 class="menu-heading md-subhead ng-binding ng-scope" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">{{section.name}}</h2>

                    <!--if type is link show this element (which is actually inject as stated above)-->
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>

                    <!--if type is toggle show this element (which is actually inject as stated above)-->
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                </li>
            </ul>
        </md-content>
    </md-list>

    <md-list class="bottom-list">
        <md-content role="navigation">
            <ul class="side-menu">
                <li class="parent-list-item">
                    <md-button class="md-button-toggle">
                        <div flex layout="row">
                            Settings
                            <span flex></span>
                            <!--<settings-toggle section="section" ></settings-toggle>-->

                            <span aria-hidden="true" class="md-toggle-icon">
								<md-icon md-font-library="material-icons">settings</md-icon>
							</span>
                        </div>
                    </md-button>
                </li>
            </ul>
        </md-content>
    </md-list>

</md-sidenav>