<navbar-component
		layout="row"
		search-text="navVm.searchText">
</navbar-component>

<md-content id="mentions-container" layout="row" flex>


	<md-sidenav
			md-component-id="left2"
			md-is-locked-open="true"
			layout-column>
		<!--filebrowser-->
	</md-sidenav>




	<!--<md-content layout-padding>-->
	<md-content class="mentions" layout-padding>
		<h2>Mentions sandbox</h2>



		<div class="form-group">
			<h3>Content Editable:</h3>
			     <!--mentio-macros="macros"-->
			<!--<div contenteditable mentio-->
			     <!--mentio-typed-term="typedTerm"-->
			     <!--mentio-require-leading-space="true"-->
			     <!--mentio-select-not-found="true"-->
			     <!--class="editor form-control"-->
			     <!--mentio-id="'htmlContent'"-->
			     <!--id="htmlContent"-->
			     <!--ng-model="mentionsVm.htmlContent"-->
			<!--&gt;-->
			<!--</div>-->
			<!--<span class="caption small">Mentioned: {{typedTerm}}</span>-->
		</div>


		<form action="">
			<span>test</span>

			          <!--mentio-typed-text="typedTerm"-->
			          <!--contenteditable-->
			<textarea
					  simplemde
					  mentio
			          id="theText"
			          mentio-id="'theText'"
			          mentio-typed-term="typedTerm"
			          mentio-require-leading-space="true"
			          mentio-select-not-found="true"
			          ng-model="mentionsVm.theTextArea"
					  ng-trim="false"
			          autocomplete="off"
			          class="editor form-control"
			></textarea>
			<p>typed term: {{typedTerm}}</p>



			<mentio-menu
					mentio-for="'theText'"
					mentio-trigger-char="'#'"
					mentio-items="mentionsVm.hashtags"
					mentio-template-url="/product-mentions.tpl"
					mentio-search="mentionsVm.searchHashtags(term)"
					mentio-select="mentionsVm.selectHashtag(item)"
			></mentio-menu>

			          <!--simplemde -->
		</form>
			          <!--mentio-items="mentionsVm.mentionList | filter:label:typedTerm"-->


		<!--<mentio-menu-->
				<!--mentio-for="'theText'"-->
				<!--mentio-trigger-char="'#'"-->
				<!--mentio-items="mentionsVm.products"-->
				<!--mentio-template-url="/product-mentions.tpl"-->
				<!--mentio-search="mentionsVm.searchProducts(term)"-->
				<!--mentio-select-not-found="true"-->
				<!--mentio-select="mentionsVm.getProductTextRaw(item)"></mentio-menu>-->
		<!--<mentio-menu-->
				<!--mentio-for="'theText'"-->
				<!--mentio-trigger-char="'@'"-->
				<!--mentio-items="mentionsVm.people"-->
				<!--mentio-template-url="/people-mentions.tpl"-->
				<!--mentio-search="mentionsVm.searchPeople(term)"-->
				<!--mentio-select-not-found="true"-->
				<!--mentio-select="mentionsVm.getPeopleTextRaw(item)"></mentio-menu>-->


		<!--contenteditable-->
		<!--<mentio-menu-->
				<!--mentio-for="'theText'"-->
				<!--mentio-trigger-char="'@'"-->
				<!--mentio-items="mentionsVm.people"-->
				<!--mentio-template-url="/people-mentions.tpl"-->
				<!--mentio-search="mentionsVm.searchPeople(term)"-->
				<!--mentio-select="mentionsVm.getPeopleText(item)"-->
		<!--&gt;</mentio-menu>-->




		<!--<mentio-menu-->
				<!--mentio-for="'htmlContent'"-->
				<!--mentio-trigger-char="'@'"-->
				<!--mentio-items="mentionsVm.people"-->
				<!--mentio-template-url="/people-mentions.tpl"-->
				<!--mentio-search="mentionsVm.searchPeople(term)"-->
				<!--mentio-select="mentionsVm.getPeopleText(item)"-->
		<!--&gt;</mentio-menu>-->

	</md-content>

</md-content>
<!--drawer-->
<drawer-directive></drawer-directive>


<script type="text/ng-template" id="/product-mentions.tpl">

	<md-menu-content width="6" class="md-whiteframe-4dp">
		<md-menu-item>
			<p>Type space to add new...</p>
		</md-menu-item>
		<md-divider></md-divider>
		<md-menu-item mentio-menu-item="item" class="list-group-item" ng-repeat="item in items">
			<md-button>
				<p>{{item.tag}}</p>
				<md-tooltip  md-direction="top"
				            md-visible="tooltipVisible"
				            md-autohide="true">
					{{item.realTitle}}
				</md-tooltip>
			</md-button>
		</md-menu-item>
	</md-menu-content>

	<!--<ul class="md-whiteframe-4dp">-->
		<!--<li mentio-menu-item="product" class="list-group-item" ng-repeat="product in items">-->
			<!--<md-button>-->
				<!--<p>{{product.tag}}</p>-->
				<!--<md-tooltip md-direction="top"-->
				            <!--md-visible="tooltipVisible"-->
				            <!--md-autohide="true">-->
					<!--{{product.realTitle}}-->
				<!--</md-tooltip>-->
			<!--</md-button>-->
		<!--</li>-->
	<!--</ul>-->

	<!--<ul class="list-group product-search demo-scrollable-menu">-->
		<!--<li mentio-menu-item="product" ng-repeat="product in items" class="list-group-item clearfix">-->
			<!--<div class="row">-->
				<!--<div class="col-xs-2 text-center">-->
				<!--</div>-->
				<!--<div class="col-xs-10">-->
					<!--<h4>{{product.tag}}</h4>-->
					<!--&lt;!&ndash;<h4 class="list-group-item-heading">{{product.title | words:5}}</h4>&ndash;&gt;-->
					<!--&lt;!&ndash;<p class="list-group-item-text">{{product.description | words:7}}</p>&ndash;&gt;-->
				<!--</div>-->
			<!--</div>-->
		<!--</li>-->
	<!--</ul>-->
</script>

<script type="text/ng-template" id="/people-mentions.tpl">
	<ul class="list-group user-search">
		<li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
			<p>{{person}}</p>
		</li>
	</ul>
</script>