<!--<pre>{{vm.selectedFile}}</pre>-->
<div class="meta-tab">
	<form name="fileMeta">
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm="">
				<label>File Name</label>
				<input ng-blur="vm.updateData({fileId: vm.selectedFile._id, field: 'name'})" ng-model="vm.selectedFile.name" value="vm.selectedFile.name">
			</md-input-container>
		</div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm="">
				<label>Description</label>
				<textarea ng-change="vm.updateData({fileId: vm.selectedFile._id, field: 'description'})" ng-model="vm.selectedFile.description" rows="5"></textarea>
			</md-input-container>
		</div>
	</form>
</div>
