<div layout="column" class="audioPlayerWrapper">
	<md-content flex class="wave-content-wrapper">
		<div class="waveSurferWave">
			<md-progress-linear ng-if="$ctrl.loading" class="md-warn" md-mode="determinate" value="{{$ctrl.wavesurferProgress}}"></md-progress-linear>
		</div>
	</md-content>
	<md-toolbar class="md-player-$ctrls transparent md-fab-bottom-right">
		<div layout="row" class="md-toolbar-tools">
			<div flex layout="row" layout-align="end center">
				<md-button class="md-button md-fab md-mini"
				           ng-disabled="!$ctrl.isReady"
				           type="button"
				           ng-click="$ctrl.surfer.playPause()">
					<!--<md-tooltip>-->
					<!--{{$ctrl.surfer.isPlaying() ? 'Pause' : 'Play'}}-->
					<!--</md-tooltip>-->
					<md-icon ng-show="$ctrl.surfer.isPlaying()" class="material-icons">pause</md-icon>
					<md-icon ng-show="!$ctrl.surfer.isPlaying()"  class="material-icons">play_arrow</md-icon>
				</md-button>
			</div>
		</div>
	</md-toolbar>
</div>