<div id="baseline" layout="column" flex>
	<div layout="row">
				<!--get-time-stamp="blVm.getTimeStamp"-->
		<wavesurfer-player
				ng-if="blVm.audioPath.length > 0"
				flex
				url="{{blVm.audioPath}}"
				auto-play="false"
				back-img="{{blVm.imagePath}}">
		</wavesurfer-player>
	</div>
	<div ng-model="blVm.currentFile.content"
	     ng-change="blVm.saveContent(blVm.currentFile)"
	     ng-model-options="{debounce: 750}" layout="row" flex ui-codemirror="{ onLoad : blVm.codemirrorLoaded }" ></div>


</div>
