<div layout="column" flex>

	<div layout="row">
		<md-wavesurfer-player
				ng-if="blVm.currentFile.media.audio.path.length"
				flex
				url="{{'../' + blVm.currentFile.media.audio.path}}"
				auto-play="false"
				back-img="{{blVm.currentFile.media.image.path}}">
			<!--back-img="{{vm.selectedFile.image}}">-->
				<!--layout="row"-->
		</md-wavesurfer-player>
	</div>

	<div layout="row" flex >
		<md-content  id="ace-wrapper" class="content-wrapper " layout="row" flex >
			<div flex ui-ace ng-model="blVm.aceContent" class="md-whiteframe-3dp" >

			</div>
				<!--<p>content</p>-->
			<!--<div flex layout="row" ui-ace ng-model="blVm.aceContent"></div>-->

		</md-content>

	</div>
</div>



<!--useWrapMode : true,-->
<!--mode: 'xml',-->
<!--firstLineNumber: 5,-->
<!--showGutter: false,-->
<!--theme:'twilight',-->
