<div layout="column" flex>
	<h1>baseline child state</h1>
	<div layout="row">
		<md-wavesurfer-player
				ng-if="blVm.currentFile.media.audio.path.length"
				flex
				url="{{blVm.audioPath}}"
				auto-play="false"
				back-img="{{blVm.imagePath}}">
		</md-wavesurfer-player>
	</div>
	<div layout="row" flex >
		<md-content  id="ace-wrapper" class="content-wrapper " layout="row" flex >
			<div flex
			     ng-model="blVm.textContent"
			     class="md-whiteframe-3dp"
				 ng-change="blVm.update()"
				 ng-model-options='{ debounce: 1000 }'>
			</div>
		</md-content>
	</div>
</div>
