<md-dialog class="post-dialog" flex-xs="90" flex-sm="75" flex-gt-sm="50" aria-label="Test">
	<form name="postForm" ng-cloak>
		<md-dialog-content>
			<div layout="row">
				<div layout="column"
				     flex
				     layout-align="center center"
				     class=" top-actions">
					<img ng-show="$ctrl.notebook.image" ngf-src="$ctrl.notebook.image.path" class="thumb image-preview">
					<div class="remove-container" ng-class="{'dark-theme' :!$ctrl.notebook.image}" layout="row" layout-align="start center">
					</div>
					<div flex class="audio-container" ng-if="$ctrl.notebook.audio">
						<wave-surfer-preview
								ng-if="$ctrl.notebook.audio"
								flex
								url-src="$ctrl.notebook.audio.path"
								auto-play="false">
						</wave-surfer-preview>
								<!--image-src="$ctrl.notebook.image.path"-->
					</div>
				</div>
			</div>
			<div class=" no-padding" flex layout-fill>
				<md-input-container class="simplemde-wrapper" flex layout-fill>

					<simplemde
							hashtags="$ctrl.hashtags"
							editor-options="$ctrl.editorOptions"
							value-binding="$ctrl.currentNotebook"
							update-model="$ctrl.updateModel($event)">
					</simplemde>
					<!--<md-progress-circular class="simplemde-loader fade-out" md-diameter="50"></md-progress-circular>-->
				</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" class="top-border" >
			<md-button ng-click="$ctrl.cancel($event)">Cancel</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>