<md-dialog class="post-dialog" flex-xs="90" flex-sm="75" flex-gt-sm="75">
	<md-content>

		<form name="postForm" ng-cloak>
			<div layout="row" class="media-container">
				<div layout="column"
				     flex
				     layout-align="center center"
				     class=" top-actions">
					<div class="image-container">
						<img ng-show="$ctrl.currentNotebook.image" ngf-src="$ctrl.imagePath" class="thumb image-preview">
					</div>
					<md-button
							ng-if="!$ctrl.currentNotebook.image"
							ngf-select
							name="imageUpload"
							class="md-raised add-button"
							ng-model="$ctrl.currentNotebook.image"
							accept="image/*">
						<span>Add Image</span>
					</md-button>

					<div class="remove-container" ng-class="{'dark-theme' :!$ctrl.currentNotebook.image}" layout="row"
					     layout-align="start center">
						<md-button ng-if="$ctrl.currentNotebook.image" class="md-icon-button remove-button"
						           aria-label="Remove Button"
						           ng-click="$ctrl.removeMedia($ctrl.currentNotebook.image); $ctrl.currentNotebook.image = null">
							<!--<md-icon>cancel</md-icon>-->
							<md-icon>visibility_off</md-icon>
						</md-button>
					</div>
				</div>
			</div>

			<div class=" no-padding content-container" flex layout-fill>
				<md-input-container class="simplemde-wrapper" flex layout-fill>
					<simplemde
							hashtags="$ctrl.hashtags"
							editor-options="$ctrl.editorOptions"
							value-binding="$ctrl.currentNotebook"
							update-model="$ctrl.updateModel($event)">
					</simplemde>
				</md-input-container>

			</div>



		</form>
		<div layout="row" class="top-border">
			<md-button ng-click="$ctrl.deleteNotebook($event)" ng-if="$ctrl.notebook._id" class="md-icon-button">
				<md-icon>delete</md-icon>
			</md-button>
			<span flex></span>
			<md-button ng-click="$ctrl.cancel($event)">Cancel</md-button>
			<md-button ng-disabled="postForm.$invalid"
			           ng-click="$ctrl.postDetails.button.action('Create Normal Post')">
				{{$ctrl.postDetails.button.text}}
			</md-button>
		</div>
	</md-content>
</md-dialog>