
<div layout-gt-xs="row">
	<md-card style="margin:0px">
		<md-input-container style="margin:15px;">
			<label>Filter by search</label>
			<input type="text" ng-model="$ctrl.filterName">
		</md-input-container>

		<div ng-hide="true">
			{{($ctrl.filteredItems = ($ctrl.hashtags | filter: $ctrl.filterName))}}
		</div>
	</md-card>
</div>
<md-divider></md-divider>

<md-content class="table-container">
	<mdt-table
			virtual-repeat="true"
			table-card="{visible: true, title: 'Hashtags'}"
			selectable-rows="true"
			selected-row-callback="$ctrl.selectedRowCallback(rows)"
		<mdt-header-row>
			<!--mdt-row="{-->
                      <!--data: $ctrl.filteredItems,-->
                      <!--'column-keys': [-->
                          <!--'tag',-->
                          <!--'tagDescription',-->
                          <!--'realTitle'-->
                      <!--]-->
                      <!--}">-->
			<mdt-column column-definition="Tag name" align-rule="left"><span>Tag</span></mdt-column>
			<mdt-column column-definition="Description of tag" align-rule="left"><span>Description</span></mdt-column>
			<mdt-column column-definition="The tag text that is parsed" align-rule="left"><span>Real Title</span></mdt-column>
			<mdt-column column-definition="Can Editd" align-rule="left"><span>Can Edit?</span></mdt-column>
		</mdt-header-row>
		<mdt-row
				ng-repeat="item in $ctrl.hashtags"
				table-row-id="item.realTitle"
				ng-diabled="!item.canEdit">
			<mdt-cell><span>{{item.tag}}</span></mdt-cell>
			<mdt-cell><span>{{item.tagDescription}}</span></mdt-cell>
			<mdt-cell><span>{{item.realTitle}}</span></mdt-cell>
			<mdt-cell><span>{{item.canEdit}}</span></mdt-cell>
		</mdt-row>
	</mdt-table>
</md-content>