#notebook-container {
	input, textarea {
		color: black;
	}

	.notebook-list {
		width: 100%;

		.notebook-content {
			width: 100%;

			.notebook-title {
				//background: white;
				//max-height: 60px;

				.md-headline {
					font-weight: 300 !important;
					margin: 0 !important;
					//color: $black !important;
				}
			}

			.notebook-media {
				//height: 100%;
				width: 100%;
				background-size: cover;
				background-position: center center;

				img {
					width: 100%;
				}
			}

			.notebook-text {
				overflow: hidden;
				margin-bottom: 16px;

				p {
					margin: 0;
				}
			}
		}

		//.notebook-content {
		//	overflow: hidden;
		//	width: 100%;
		//
		//
		//
		//	.notebook-text {
		//		width: 100%;
		//		p {
		//			color: black;
		//		}
		//	}
		//}


		//.notebook-title {
		//	width: 100%;
		//	background: grey;
		//}




	}
}
.grid-tile {
	//max-width: 530px;
}
.notebook-card {
	//max-width: 400px;
	//height: 500px;
	//margin: 12px;
	//min-width: 300px !important;

	.card-media {
		position: relative;
		overflow: hidden;
		max-height: 250px;
		min-height: 250px;

		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}