<navbar-component
		layout="row"
		search-text="navVm.searchText">
</navbar-component>

<md-content id="notebook-container" layout="row" flex ng-cloak>

	<md-content flex="25" layout-padding class="left-side">
		<h3>users</h3>
		<md-divider></md-divider>
		<span>testtest</span>
		<md-button class="md-icon-button">
			<md-icon class="material-icons">format_bold</md-icon>
		</md-button>
		<h3>Common Tags</h3>
		<md-button ng-click="nbVm.tagManageDialog()" class="md-raised">Tag Management</md-button>
		<!--<md-button ui-sref="managetags" class="md-raised">Tag Management</md-button>-->
		<md-list>
			<md-list-item class="chip-item" ng-repeat="tag in nbVm.commonTags">
				<md-chip class="chip-container">
					<span>
						<span class="chip-icon">#</span>
						<span class="chip-text">{{tag.tag}}</span>
					</span>
				</md-chip>
			</md-list-item>
			<!--<md-list-item class="switch-item" ng-repeat="tag in nbVm.commonTags" ng-class="{selected: $index === nbVm.selectedIndex}" >-->
				<!--<div class="switch-container">-->
					<!--<div class="switch-bar">-->
						<!--&lt;!&ndash;<span>{{tag.tag}}</span>&ndash;&gt;-->
					<!--</div>-->
					<!--<div class="circle-container">-->
						<!--<div class="circle">-->
							<!--<div class="md-ripple-continaer"></div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</md-list-item>-->
		</md-list>
	</md-content>

	<md-content flex="75" class="notebook-list" layout-padding >
		<md-grid-list
				md-cols="1" md-cols-lt-md="1" md-cols-md="2" md-cols-lg="2" md-cols-gt-lg="3"
				md-row-height="500"
				md-gutter="16px" md-gutter-gt-sm="24px">

			<md-grid-tile
					class="grid-tile mdl-shadow--2dp"
					ng-repeat="notebook in nbVm.notebooks | orderBy: '-createdAt' "
					md-colspan="1">

				<notebook-list-item notebook="notebook" flex layout-fill></notebook-list-item>

			</md-grid-tile>
		</md-grid-list>
	</md-content>

	<md-fab-speed-dial ng-hide="nbVm.hidden"
	                   md-direction="up"
	                   md-open="metaVm.isOpen"
	                   class="md-scale md-fab-bottom-right "
	                   ng-class="{ 'md-hover-full': nbVm.hover }"
	                   ng-mouseenter="nbVm.isOpen = true"
	                   ng-mouseleave="nbVm.isOpen = false">

		<md-fab-trigger>
			<md-button aria-label="menu" class="md-fab md-grey-fab">
				<!--<md-tooltip md-direction="left"-->
				            <!--md-visible="false"-->
				            <!--md-autohide="true">Attach Files</md-tooltip>-->
				<md-icon aria-label="menu">add</md-icon>
			</md-button>
		</md-fab-trigger>

		<md-fab-actions>
			<md-button ng-repeat="item in nbVm.items" class="md-fab md-raised md-mini" ng-click="nbVm.openNBDialog($event, item.type)">
				<md-icon>{{item.icon}}</md-icon>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>

</md-content>
<!--drawer-->
<drawer-directive></drawer-directive>
