<navbar-component
		layout="row"

		search-text="navVm.searchText">
</navbar-component>

<md-content layout="row" flex>
	<form name="notebook">
		<md-input-container class="md-block" flex-gt-sm="">
			<label>Notebook Name</label>
			<input ng-blur="metaVm.updateData({fileId: metaVm.currentFile._id, field: 'name'})"
			       ng-model="metaVm.currentFile.name"
			       value="metaVm.currentFile.name">
		</md-input-container>
		<md-input-container class="md-block">
			<label>Description</label>
			<textarea ng-change="metaVm.updateData({fileId: metaVm.currentFile._id, field: 'description'})"
			          ng-model="metaVm.currentFile.description"
			          rows="5"></textarea>
		</md-input-container>

		<div layout="row" layout-align="space-between center">
			<dynamic-upload ng-repeat="item in nbVm.items" item="item" current-file=""></dynamic-upload>
		</div>



	</form>

	<!--<md-button id="uploadButton"-->
	           <!--class="md-button md-fab md-grey-fab md-fab-bottom-left"-->
	           <!--ng-click="vm.createNewTextFile()"-->
	           <!--aria-label="attach_file">-->
		<!--<md-icon class="material-icons">add</md-icon>-->
	<!--</md-button>-->

	<!--
	I didn't want to have to put the sidenav outside of the actual component 'filebrowser' but I was having so many issues with the styling

	-->

	<!--<md-sidenav-->
			<!--md-component-id="left2"-->
			<!--md-is-locked-open="true"-->
			<!--layout-column>-->
		<!--&lt;!&ndash;filebrowser&ndash;&gt;-->
		<!--<filebrowser-component-->
				<!--search-text="navVm.searchText"-->
				<!--current-file="fbVm.currentFile">-->
		<!--</filebrowser-component>-->
	<!--</md-sidenav>-->
	<!--viewer-editor-->
	<!--<viewer-editor-component current-file="fbVm.currentFile" layout="column" flex></viewer-editor-component>-->
</md-content>
<!--drawer-->
<drawer-directive></drawer-directive>
