#notebook-container {
	input, textarea {
		color: black;
	}

	.left-side {
		//overflow: hidden;
	}

	.md-raised {
		margin: 0;
		width: 100%;
	}

	.notebook-list {
		width: 100%;

		.notebook-content {
			width: 100%;

			.notebook-title {
				//background: white;
				//max-height: 60px;

				.md-headline {
					font-weight: 300 !important;
					margin: 0 !important;
					//color: $black !important;
				}
			}

			.notebook-media {
				//height: 100%;
				//width: 100%;
				//background-size: cover;
				//background-position: center center;

				//img {
				//	width: 100%;
				//}
			}

			.notebook-text {
				overflow: hidden;
				margin-bottom: 16px;

				p {
					margin: 0;
				}
			}
		}

		//.notebook-content {
		//	overflow: hidden;
		//	width: 100%;
		//
		//
		//
		//	.notebook-text {
		//		width: 100%;
		//		p {
		//			color: black;
		//		}
		//	}
		//}


		//.notebook-title {
		//	width: 100%;
		//	background: grey;
		//}




	}
}
.grid-tile {
	//max-width: 530px;
}
.notebook-card {

	.inner-padding {
		padding: 0 16px 0 16px;
	}

	.card-content {
		padding: 0;
	}

	.card-title {
		.title-text {

		}
	}

	.wave-content-wrapper {
		background-color: #dedede;
	}

	.card-image {
		position: relative;
		overflow: hidden;
		max-height: 250px;
		min-height: 250px;

		img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	.card-media {
		position: relative;
		overflow: hidden;
		//max-height: 100%;
		height: 100%;
		width: 100%;
		//min-height: 250px;

		img {
			display: block;
			width: 100%;
			height: 100% !important;
		}
	}
}

.post-dialog {
	.simplemde-wrapper {
		width: 100% !important;
	}
	.CodeMirror {
	}
}

#image-post-dialog {
	.image-caption {
		width: 100% !important;
	}

	.CodeMirror {
		min-height: 200px !important;
		height: 200px !important;
		width: 100% !important;
	}
}
.chip-item {
	padding: 0 8px !important;
}
.chip-container {
	height: 32px;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
	line-height: 32px;
	padding: 0 12px;
	border: 0;
	border-radius: 16px;
	background-color: #dedede;
	display: inline-block;
	color: rgba(0,0,0,.87);
	margin: 2px 0;
	font-size: 0;
	white-space: nowrap;
	padding-left: 0;
	overflow: hidden;

	.chip-icon {
		height: 32px;
		width: 32px;
		border-radius: 16px;
		margin-right: 8px;
		font-size: 18px;
		line-height: 32px;
		color: #fff !important;
		background-color: #009688 !important;

		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		text-align: center;
	}

	.chip-text {
		font-size: 13px;
		vertical-align: middle;
		display: inline-block;
	}
}


.switch-item {
	width: 100%;
	margin: 16px 0;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 30px;
	line-height: 28px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin-left: inherit;
	margin-right: 16px;

	.switch-container {
		cursor: -webkit-grab;
		cursor: grab;
		width: 36px;
		height: 24px;
		position: relative;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		margin-right: 8px;
		float: left;

		.switch-bar {
			-webkit-transition-delay: .05s;
			transition-delay: .05s;
			-webkit-transition: all .08s linear;
			transition: all .08s linear;
			-webkit-transition-property: background-color,-webkit-transform;
			transition-property: background-color,-webkit-transform;
			transition-property: transform,background-color;
			transition-property: transform,background-color,-webkit-transform;

			background-color: rgb(158,158,158);

			left: 1px;
			width: 34px;
			top: 5px;
			height: 14px;
			border-radius: 8px;
			position: absolute;
		}

		.circle-container {
			top: 2px;
			left: 0;
			width: 16px;
			position: absolute;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			z-index: 1;

			-webkit-transition: all .08s linear;
			transition: all .08s linear;
			-webkit-transition-property: background-color,-webkit-transform;
			transition-property: background-color,-webkit-transform;
			transition-property: transform,background-color;
			transition-property: transform,background-color,-webkit-transform;

			.circle {
				-webkit-transition-delay: .05s;
				transition-delay: .05s;

				-webkit-transition: all .08s linear;
				transition: all .08s linear;
				-webkit-transition-property: background-color,-webkit-transform;
				transition-property: background-color,-webkit-transform;
				transition-property: transform,background-color;
				transition-property: transform,background-color,-webkit-transform;

				position: absolute;
				left: 0;
				top: 0;
				border-radius: 50%;

				margin: 0;
				outline: none;
				height: 20px;
				width: 20px;
				box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);

				background-color: rgb(250,250,250)
			}
		}
	}
}

.post-dialog {
	.md-dialog-content {
		padding-right: 0;
		padding-left: 0;

		.simplemde-wrapper {
			padding: 0;
		}
	}

	.editor-toolbar {
		border-radius: 0 !important;

		.toolbar-icon {
			position: relative;


			.md-icon-button {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;


			}
			&.active {

				.material-icons {
					color: $lBlue !important;

				}
			}
		}

		.separator {
			position: relative;
		}

	}
	.CodeMirror-wrap {
		border-radius: 0 !important;
	}
}

.md-resize-wrapper {

}
