<div layout="column" class="audioPlayerWrapper">
	<!--the wave graphic-->
	<md-content flex class="wave-content-wrapper">
		<div class="waveSurferWave">
			<md-progress-linear ng-if="$ctrl.loading" class="md-warn" md-mode="determinate" value="{{$ctrl.wavesurferProgress}}"></md-progress-linear>
		</div>
	</md-content>

	<!--wave player toolbar-->
	<div flex="50" class="md-player-controls transparent md-fab-bottom-right">
		<!--<div layout="row" class="md-toolbar-tools" >-->
		<div  layout="row" layout-align="end center">
			<md-button class="md-button md-fab md-mini"
			           ng-click="$ctrl.surfer.skipBackward()">
				<md-tooltip>
					Rewind
				</md-tooltip>
				<md-icon class="material-icons">fast_rewind</md-icon>
			</md-button>

			<md-button class="md-button md-fab md-mini"
			           ng-disabled="!$ctrl.isReady"
			           type="button"
			           ng-click="$ctrl.surfer.playPause()">
				<md-tooltip>
					{{$ctrl.surfer.isPlaying() ? 'Pause' : 'Play'}}
				</md-tooltip>
				<md-icon ng-show="$ctrl.surfer.isPlaying()" class="material-icons">pause</md-icon>
				<md-icon ng-show="!$ctrl.surfer.isPlaying()"  class="material-icons">play_arrow</md-icon>
			</md-button>

			<md-button class="md-button md-fab md-mini"
			           type="button"
			           ng-click="$ctrl.surfer.skipForward()">
				<md-tooltip>
					Skip forward
				</md-tooltip>
				<md-icon class="material-icons">fast_forward</md-icon>
			</md-button>


			<md-button class="md-button md-fab md-mini"
			           type="button"
			           ng-click="$ctrl.adjustPlaySpeed()">
				<md-tooltip>
					Playback Speed
				</md-tooltip>
				<md-icon class="material-icons">slow_motion_video</md-icon>
			</md-button>
			<span class="current-speed">{{$ctrl.playbackSpeed.label}}</span>
		</div>

		<!--</div>-->
	</div>
</div>