<md-content layout="column" flex>

	<!--<span>{{fbVm.currentFile | json}}</span>-->
	<!--<span>{{veVm.currentFile | json}}</span>-->
	<md-tabs md-dynamic-height="" md-border-bottom=""  md-selected="selectedIndex" md-stretch-tabs="always" >
		<md-tab label="Meta">
		</md-tab>
		<md-tab label="Baseline">
		</md-tab>
		<md-tab label="Analyze">
		</md-tab>
		<md-tab label="Text Chart">
		</md-tab>
		<md-tab label="Preview">
		</md-tab>
	</md-tabs>
	<md-content id="tab-body" ui-view flex ></md-content>
</md-content>