<md-dialog class="post-dialog" flex="50">
	<form name="postForm" ng-cloak>
		<md-dialog-content>
			<div layout="row">
				<div layout="column"
				     flex
				     layout-align="center center"
				     class=" top-actions">

					<img ng-show="dialogVm.notebook.image" ngf-src="dialogVm.imagePath" class="thumb image-preview">
					<md-button
							ng-if="!dialogVm.notebook.image"
							ngf-select
					           name="imageUpload"
					           class="md-raised add-button"
					           ng-model="dialogVm.notebook.image"
					           accept="image/*">
						<!--ngf-max-size="5MB"-->
						<!--ngf-validate="{width: {min: 1400, max:2000}, height: {min: 630, max: 900}}"-->
						<span>Add Image</span>
					</md-button>
					<md-button
							   ng-if="!dialogVm.notebook.audio"
							   ngf-select
					           name="audioUpload"
					           class="md-raised add-button"
					           ng-model="dialogVm.notebook.audio"
					           accept="audio/*">

						<span>Add Audio</span>
						<!--<md-icon>volume_up</md-icon>-->
					</md-button>

					<div class="remove-container" ng-class="{'dark-theme' :!dialogVm.notebook.image}" layout="row" layout-align="start center">
						<md-button ng-if="dialogVm.notebook.image" class="md-icon-button remove-button" aria-label="Remove Button"
						           ng-click="dialogVm.removeMedia(dialogVm.notebook.image); dialogVm.notebook.image = null" >
							<!--<md-icon>cancel</md-icon>-->
							<md-icon>visibility_off</md-icon>
						</md-button>
						<md-button ng-if="dialogVm.notebook.audio" class="md-icon-button remove-button" aria-label="Remove Button"
						           ng-click="dialogVm.removeMedia(dialogVm.notebook.audio); dialogVm.notebook.audio = null" >
							<!--<md-icon>cancel</md-icon>-->
							<md-icon>volume_off</md-icon>
						</md-button>
					</div>

					<div flex class="audio-container" ng-if="dialogVm.notebook.audio">
						<wave-preview
								ng-if="dialogVm.notebook.audio"
								flex
								url="{{dialogVm.audioPath}}"
								auto-play="false"
								player-wave-color="white"
								player-cursor-color="#FF5252"
								player-height="100"
								player-progress-color="black">
						</wave-preview>
					</div>
				</div>



					<!--<div flex class="md-padding media-container" ng-if="dialogVm.notebook.image" >-->
					<!--</div>-->
			 </div>

				<div flex class="upload-selection">
					<!--<div layout="row" layout-align="center center">-->
						<!--<md-button ngf-select-->
						           <!--name="audioUpload"-->
						           <!--class="md-icon-button"-->
						           <!--ng-model="dialogVm.notebook.audio"-->
						           <!--accept="audio/*">-->
							<!--<md-icon>volume_up</md-icon>-->
						<!--</md-button>-->
					<!--</div>-->

				</div>


			<div class=" no-padding" flex layout-fill>
				<md-input-container class="simplemde-wrapper" flex layout-fill>
					<textarea id="theText"
					          aria-label="text area"
					          class="simplemde-textarea"
					          ng-model="dialogVm.notebook.description"
					          simplemde="dialogVm.editorOptions"
					          required >
					</textarea>
				</md-input-container>


			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row" class="top-border" >
			<md-button ng-click="dialogVm.cancel($event, dialogVm.notebook)">Cancel</md-button>
			<md-button ng-disabled="postForm.$invalid"
			           ng-click="dialogVm.postDetails.button.action('Create Normal Post')">
				{{dialogVm.postDetails.button.text}}
			</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>