<md-dialog class="fullscreen-dialog">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Your preferences for Glossa</h2>
		</div>
		<md-button ng-click="sVm.cancel()">
			<md-icon>close</md-icon>
		</md-button>
	</md-toolbar>

	<md-content flex layout="column"   class="">
		<md-tabs flex layout="column" layout-fill class="md-accent" md-selected="sVm.data.selectedIndex" md-align-tabs="{{sVm.data.bottom ? 'bottom' : 'top'}}">

			<md-tab label="Tag Management" flex layout="column" id="tab1">
				<md-content layout-fill flex class="md-padding tag-container" >

					<manage-tags-component></manage-tags-component>

				</md-content>
			</md-tab>
			<md-tab id="tab2" ng-disabled="sVm.data.secondLocked">
				<md-tab-label>{{sVm.data.secondLabel}}</md-tab-label>
				<md-tab-body>
					View for Item #2 <br/>
					data.selectedIndex = 1;
				</md-tab-body>
			</md-tab>
			<md-tab id="tab3">
				<md-tab-label>Item Three</md-tab-label>
				<md-tab-body>
					View for Item #3 <br/>
					data.selectedIndex = 2;
				</md-tab-body>
			</md-tab>
		</md-tabs>
	</md-content>
</md-dialog>